<div class="row-fluid">
  <div class="col-sm-12">
    <br>
    <h1>{{title}}</h1> 
    <br>

    <div  id="profile" class="container">
        <br>
        <!-- Looping through lists -->
        
        {{!-- Frosh --}}
        <center><h4>Frosh Year</h4></center>
        <center>
        <div class="row frosh col-12">
            <div class="col-4">
                <h4>&nbsp;</h4><br>
                <h5>First Term</h5>
            {{#each froshT1}}
            <p>{{this.ccode}}, {{this.faculty}}</p>
             {{/each}}
            </div>

            <div class="col-4">
            <h4>&nbsp;</h4> <br>
            <h5>Second Term</h5>
            {{#each froshT2}}
            <p>{{this.ccode}}, {{this.faculty}}</p>
             {{/each}}
            </div>

            <div class="col-4">
            <h4>&nbsp;</h4> <br>
            <h5>Third Term</h5>
            {{#each froshT3}}
            <p>{{this.ccode}}, {{this.faculty}}</p>
             {{/each}}
            </div>
        </div> <br> <br>
        </center>

        {{!-- Sophomore --}}
        <center><h4>Sophomore Year</h4></center>
        <center>
        <div class="row sophomore col-12">
            <div class="col-4">
            <h4>&nbsp;</h4><br>
            <h5>First Term</h5>
            {{#each sophomoreT1}}
            <p>{{this.ccode}}, {{this.faculty}}</p>
             {{/each}}
            </div>

            <div class="col-4">
            <h4>&nbsp;</h4> <br>
            <h5>Second Term</h5>
            {{#each sophomoreT2}}
            <p>{{this.ccode}}, {{this.faculty}}</p>
             {{/each}}
            </div>
        </div>
        </center>
       <br>
    </div>
  </div>
</div>

