{{!< layout}}

<!-- BODY -->  

<div class="container" style="padding-top: 50px; padding-bottom: 100px;">
<h2>W&Js Cinemas</h2>
<br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a id="db"class="nav-link active" data-toggle="tab" href="#dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a id="aml"class="nav-link" data-toggle="tab" href="#adminMovieList">Movie List</a>
    </li>
    <li class="nav-item">
        <a id="aul"class="nav-link" data-toggle="tab" href="#adminUserList">Log Details</a>
      </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
      
    <!-- Dashboard -->
    <div id="dashboard" class="container tab-pane active"><br>
        <div class="container">
            <div class="row" style="padding-bottom: 50px;">
                <i class="material-icons" style="color: green; font-size: 50px;">done_all</i>
                &nbsp;&nbsp;<h1>You're all set!</h1>
            </div>

            <h2>Date: April 5, 2020</h2>

            <br><br>

            <div class="dashflex">
                <table class="dash table table-hover nowshowing">
                    <thead>
                        <tr>
                            <th><h4><i class="material-icons" style="color: green; font-size: 15px;">local_movies</i>
                                Now Showing</h4></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><b>{{name1}} <br>
                            <small>Rating: {{rating1}}</small></td>
                        </tr>

                        <tr>
                            <td><b>{{name2}} <br>
                            <small>Rating: {{rating2}}</small></td>
                        </tr>

                         <tr>
                            <td><b>{{name3}} <br>
                            <small>Rating: {{rating3}}</small></td>
                        </tr>

                         <tr>
                            <td><b>{{name4}} <br>
                            <small>Rating: {{rating4}}</small></td>
                        </tr>

                         <tr>
                            <td><b>{{name5}} <br>
                            <small>Rating: {{rating5}}</small></td>
                        </tr>

                         <tr>
                            <td><b>{{name6}} <br>
                            <small>Rating: {{rating6}}</small></td>
                        </tr>

                          <tr>
                            <td><b>{{name7}} <br>
                            <small>Rating: {{rating7}}</small></td>
                        </tr>

                          <tr>
                            <td><b>{{name8}} <br>
                            <small>Rating: {{rating8}}</small></td>
                        </tr>
                        
                        
                    </tbody>
                </table>

                <table class="dash table table-hover">
                    <thead>
                        <tr>
                            <th><h4><i class="material-icons" style="color: #3498db; font-size: 15px;">local_movies</i>
                                Coming Soon</h4></th>
                        </tr>
                    </thead>

                    <tbody>
                         <tr>
                            <td><b>{{name9}} <br>
                            <small>Rating: {{rating9}}</small></td>
                        </tr>

                         <tr>
                            <td><b>{{name10}} <br>
                            <small>Rating: {{rating10}}</small></td>
                        </tr>

                         <tr>
                            <td><b>{{name11}} <br>
                            <small>Rating: {{rating11}}</small></td>
                        </tr>

                        <tr>
                            <td><b>{{name12}} <br>
                            <small>Rating: {{rating12}}</small></td>
                        </tr>

                        <tr>
                            <td><b>{{name13}} <br>
                            <small>Rating: {{rating13}}</small></td>
                        </tr>

                         <tr>
                            <td><b>{{name14}} <br>
                            <small>Rating: {{rating14}}</small></td>
                        </tr>
                    </tbody>

                </table >

            </div>

            <div class="container" style="padding-top: 50px;">
            <div class="row">
                <i class="material-icons" style="color: orange; font-size: 50px;">today</i>
                &nbsp;&nbsp;<h1>What's happening?</h1>
            </div>

            <br><br>

            <div class="dashflex">

                  <table class="dash table table-hover" id="screenings">
                    <thead>
                        <tr>
                            <th><h4><i class="material-icons" style="color: black; font-size: 15px;">date_range</i>
                                Screenings</h4></th>
                             <th><h4><i class="material-icons" style="color: black; font-size: 15px;">description</i>
                                Details</h4></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><b>Cinema {{cinema1}}</b> <br>
                            <small>{{timeslots1.[0]}}, {{timeslots1.[1]}}, 
                                {{timeslots1.[2]}}, {{timeslots1.[3]}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name1}}</b> <br>
                                <small>Start date: {{dates1.[0]}}</small> <br>
                                <small>End date: {{dates1.[3]}}</small> </td>
                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>

                        <tr>
                            <td><b>Cinema {{cinema2}}</b> <br>
                            <small>{{timeslots2.[0]}}, {{timeslots2.[1]}}, 
                                {{timeslots2.[2]}}, {{timeslots2.[3]}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name2}}</b> <br>
                                <small>Start date: {{dates2.[0]}}</small> <br>
                                <small>End date: {{dates2.[3]}}</small> </td>
                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>

                        <tr>
                             <td><b>Cinema {{cinema3}}</b> <br>
                            <small>{{timeslots3.[0]}}, {{timeslots3.[1]}}, 
                                {{timeslots3.[2]}}, {{timeslots3.[3]}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name3}}</b> <br>
                                <small>Start date: {{dates3.[0]}}</small> <br>
                                <small>End date: {{dates3.[3]}}</small></td>

                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>

                        <tr>
                             <td><b>Cinema {{cinema4}}</b> <br>
                            <small>{{timeslots4.[0]}}, {{timeslots4.[1]}}, 
                                {{timeslots4.[2]}}, {{timeslots4.[3]}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name4}}</b> <br>
                                <small>Start date: {{dates4.[0]}}</small> <br>
                                <small>End date: {{dates4.[3]}}</small> </td>

                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>

                        <tr>
                             <td><b>Cinema {{cinema5}}</b> <br>
                            <small>{{timeslots5.[0]}}, {{timeslots5.[1]}}, 
                                {{timeslots5.[2]}}, {{timeslots5.[3]}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name5}}</b> <br>
                                 <small>Start date: {{dates5.[0]}}</small> <br>
                                <small>End date: {{dates5.[3]}}</small></td>

                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>

                        <tr>
                             <td><b>Cinema {{cinema6}}</b> <br>
                            <small>{{timeslots6.[0]}}, {{timeslots6.[1]}}, 
                                {{timeslots6.[2]}}, {{timeslots6.[3]}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name6}}</b> <br>
                                <small>Start date: {{dates6.[0]}}</small> <br>
                                <small>End date: {{dates6.[3]}}</small></td>

                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>

                        <tr>
                             <td><b>Cinema {{cinema7}}</b> <br>
                            <small>{{timeslots7.[0]}}, {{timeslots7.[1]}}, 
                                {{timeslots7.[2]}}, {{timeslots7.[3]}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name7}}</b> <br>
                                <small>Start date: {{dates7.[0]}}</small> <br>
                                <small>End date: {{dates7.[3]}}</small></td>

                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>

                        <tr>
                             <td><b>Cinema {{cinema8}}</b> <br>
                            <small>{{timeslots8.[0]}}, {{timeslots8.[1]}}, 
                                {{timeslots8.[2]}}, {{timeslots8.[3]}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name8}}</b> <br>
                                 <small>Start date: {{dates8.[0]}}</small> <br>
                                <small>End date: {{dates8.[3]}}</small></td>
                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>
                    </tbody>

                </table >

                <table class="dash table table-hover" id="reservations">
                    <thead>
                        <tr>
                            <th><h4><i class="material-icons" style="color: #4717F6; font-size: 15px;">event_seat</i>
                                Reservations</h4></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><b>Reservation ID:</b>&nbsp;&nbsp;{{reservationid}} <br>
                            <b>Date:</b>&nbsp;&nbsp; {{date}}&nbsp;&nbsp;&nbsp;{{time}} <br>
                            <b>Details:</b>&nbsp;&nbsp; Cinema {{cinema1}}&nbsp;&nbsp;&nbsp; {{name1}}&nbsp;&nbsp;&nbsp; <br>
                            <b>Price:</b>&nbsp;&nbsp; Php {{price}}.00 <br>
                            <b>Seats:</b>&nbsp;&nbsp; {{tickets}} 
                            </td> 

                             <td><br><center><button class="btn btn-custom cancelButton">Cancel</button></center></td>
                        </tr>

                        <tr>
                            <td><b>Reservation ID:</b>&nbsp;&nbsp;{{reservationid2}} <br>
                            <b>Date:</b>&nbsp;&nbsp; {{date2}}&nbsp;&nbsp;&nbsp;{{time2}} <br>
                            <b>Details:</b>&nbsp;&nbsp; Cinema {{cinema2}}&nbsp;&nbsp;&nbsp; {{name2}}&nbsp;&nbsp;&nbsp; <br>
                            <b>Price:</b>&nbsp;&nbsp; Php {{price2}}.00 <br>
                            <b>Seats:</b>&nbsp;&nbsp; {{tickets2}} 
                            </td> 

                             <td><br><center><button class="btn btn-custom cancelButton">Cancel</button></center></td>
                        </tr>

                        <tr>
                            <td><b>Reservation ID:</b>&nbsp;&nbsp;{{reservationid3}} <br>
                            <b>Date:</b>&nbsp;&nbsp; {{date3}}&nbsp;&nbsp;&nbsp;{{time3}} <br>
                            <b>Details:</b>&nbsp;&nbsp; Cinema {{cinema1}}&nbsp;&nbsp;&nbsp; {{name3}}&nbsp;&nbsp;&nbsp; <br>
                            <b>Price:</b>&nbsp;&nbsp; Php {{price3}}.00 <br>
                            <b>Seats:</b>&nbsp;&nbsp; {{tickets3}} 
                            </td> 

                             <td><br><center><button class="btn btn-custom cancelButton">Cancel</button></center></td>
                        </tr>

                        <tr>
                             <td><b>Reservation ID:</b>&nbsp;&nbsp;{{reservationid4}} <br>
                            <b>Date:</b>&nbsp;&nbsp; {{date4}}&nbsp;&nbsp;&nbsp;{{time4}} <br>
                            <b>Details:</b>&nbsp;&nbsp; Cinema {{cinema4}}&nbsp;&nbsp;&nbsp; {{name4}}&nbsp;&nbsp;&nbsp; <br>
                            <b>Price:</b>&nbsp;&nbsp; Php {{price4}}.00 <br>
                            <b>Seats:</b>&nbsp;&nbsp; {{tickets4}} 
                            </td> 

                             <td><br><center><button class="btn btn-custom cancelButton">Cancel</button></center></td>
                        </tr>

                        <tr>
                            <td><b>Reservation ID:</b>&nbsp;&nbsp;{{reservationid5}} <br>
                            <b>Date:</b>&nbsp;&nbsp; {{date5}}&nbsp;&nbsp;&nbsp;{{time5}} <br>
                            <b>Details:</b>&nbsp;&nbsp; Cinema {{cinema5}}&nbsp;&nbsp;&nbsp; {{name5}}&nbsp;&nbsp;&nbsp; <br>
                            <b>Price:</b>&nbsp;&nbsp; Php {{price5}}.00 <br>
                            <b>Seats:</b>&nbsp;&nbsp; {{tickets5}} 
                            </td> 

                             <td><br><center><button class="btn btn-custom cancelButton">Cancel</button></center></td>
                        </tr>

                        <tr>
                             <td><b>Reservation ID:</b>&nbsp;&nbsp;{{reservationid6}} <br>
                            <b>Date:</b>&nbsp;&nbsp; {{date6}}&nbsp;&nbsp;&nbsp;{{time6}} <br>
                            <b>Details:</b>&nbsp;&nbsp; Cinema {{cinema6}}&nbsp;&nbsp;&nbsp; {{name6}}&nbsp;&nbsp;&nbsp; <br>
                            <b>Price:</b>&nbsp;&nbsp; Php {{price6}}.00 <br>
                            <b>Seats:</b>&nbsp;&nbsp; {{tickets6}} 
                            </td> 

                             <td><br><center><button class="btn btn-custom cancelButton">Cancel</button></center></td>
                        </tr>

                         <tr>
                             <td><b>Reservation ID:</b>&nbsp;&nbsp;{{reservationid7}} <br>
                            <b>Date:</b>&nbsp;&nbsp; {{date7}}&nbsp;&nbsp;&nbsp;{{time7}} <br>
                            <b>Details:</b>&nbsp;&nbsp; Cinema {{cinema7}}&nbsp;&nbsp;&nbsp; {{name7}}&nbsp;&nbsp;&nbsp; <br>
                            <b>Price:</b>&nbsp;&nbsp; Php {{price7}}.00 <br>
                            <b>Seats:</b>&nbsp;&nbsp; {{tickets7}} 
                            </td> 

                             <td><br><center><button class="btn btn-custom cancelButton">Cancel</button></center></td>
                        </tr>

                         <tr>
                             <td><b>Reservation ID:</b>&nbsp;&nbsp;{{reservationid8}} <br>
                            <b>Date:</b>&nbsp;&nbsp; {{date3}}&nbsp;&nbsp;&nbsp;{{time8}} <br>
                            <b>Details:</b>&nbsp;&nbsp; Cinema {{cinema8}}&nbsp;&nbsp;&nbsp; {{name8}}&nbsp;&nbsp;&nbsp; <br>
                            <b>Price:</b>&nbsp;&nbsp; Php {{price8}}.00 <br>
                            <b>Seats:</b>&nbsp;&nbsp; {{tickets8}} 
                            </td> 

                             <td><br><center><button class="btn btn-custom cancelButton">Cancel</button></center></td>
                        </tr>
                         
                        
                    </tbody>
                </table>

              

            </div>
            </div>

        </div>
      
    </div>

    <!-- Movie List -->
    <div id="adminMovieList" class="container tab-pane fade"><br>
     
        <table class="table table-hover table-responsive">
            <thead>
              <tr>
                <th>Movies</th>
                <th>Movie Details</th>
                <th>Schedule</th>
                <th>Status</th>
              </tr>
            </thead>
           
            <tbody>
              <tr>
                <td><b style="text-transform: uppercase;">{{name1}}</b><br>
                 <small>Rating: {{rating1}}</small>
                 </td>
                <td>{{shortdesc1}}</td>

                <td>{{dates1.[0]}} - {{dates1.[4]}}<br>
                   <small>
                    {{timeslots1.[0]}} | {{timeslots1.[1]}} | {{timeslots1.[2]}} <br>
                    {{timeslots1.[3]}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
              </tr>

                 <tr>
                <td><b style="text-transform: uppercase;">{{name2}}</b><br>
                 <small>Rating: {{rating2}}</small>
                 </td>
                <td>{{shortdesc2}}</td>

                <td>{{dates2.[0]}} - {{dates2.[4]}}<br>
                   <small>
                    {{timeslots2.[0]}} | {{timeslots2.[1]}} | {{timeslots2.[2]}} | {{timeslots2.[3]}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;
                </td>
              </tr>

                 <tr>
                <td><b style="text-transform: uppercase;">{{name3}}</b><br>
                 <small>Rating: {{rating3}}</small>
                 </td>
                <td>{{shortdesc3}}</td>

                <td>{{dates3.[0]}} - {{dates3.[4]}}<br>
                   <small>
                    {{timeslots3.[0]}} | {{timeslots3.[1]}} | {{timeslots3.[2]}} <br>
                    {{timeslots3.[3]}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;
                </td>
              </tr>

                 <tr>
                <td><b style="text-transform: uppercase;">{{name4}}</b><br>
                 <small>Rating: {{rating4}}</small>
                 </td>
                <td>{{shortdesc4}}</td>

                <td>{{dates4.[0]}} - {{dates4.[4]}}<br>
                   <small>
                    {{timeslots4.[0]}} | {{timeslots4.[1]}} | {{timeslots4.[2]}} <br>
                    {{timeslots4.[3]}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;
                </td>
              </tr>

                 <tr>
                <td><b style="text-transform: uppercase;">{{name5}}</b><br>
                 <small>Rating: {{rating5}}</small>
                 </td>
                <td>{{shortdesc5}}</td>

                <td>{{dates5.[0]}} - {{dates5.[4]}}<br>
                   <small>
                    {{timeslots5.[0]}} | {{timeslots5.[1]}} | {{timeslots5.[2]}} <br>
                    {{timeslots5.[3]}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;
                </td>
              </tr>

                 <tr>
                <td><b style="text-transform: uppercase;">{{name6}}</b><br>
                 <small>Rating: {{rating6}}</small>
                 </td>
                <td>{{shortdesc6}}</td>

                <td>{{dates6.[0]}} - {{dates6.[4]}}<br>
                   <small>
                    {{timeslots6.[0]}} | {{timeslots6.[1]}} | {{timeslots6.[2]}} <br>
                    {{timeslots6.[3]}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;
                </td>
              </tr>

                 <tr>
                <td><b style="text-transform: uppercase;">{{name7}}</b><br>
                 <small>Rating: {{rating7}}</small>
                 </td>
                <td>{{shortdesc7}}</td>

                <td>{{dates7.[0]}} - {{dates7.[4]}}<br>
                   <small>
                    {{timeslots7.[0]}} | {{timeslots7.[1]}} | {{timeslots7.[2]}} <br>
                    {{timeslots7.[3]}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;
                </td>
              </tr>

                 <tr>
                <td><b style="text-transform: uppercase;">{{name8}}</b><br>
                 <small>Rating: {{rating8}}</small>
                 </td>
                <td>{{shortdesc8}}</td>

                <td>{{dates8.[0]}} - {{dates8.[4]}}<br>
                   <small>
                    {{timeslots8.[0]}} | {{timeslots8.[1]}} | {{timeslots8.[2]}} <br>
                    {{timeslots8.[3]}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;
                </td>
              </tr>

              
            </tbody>
          </table>
          <br><br>
    </div>

    <!-- User List -->
    <div id="adminUserList" class="container tab-pane fade">

        <table class="table table-hover table-responsive">
            <thead>
              <tr>
                <th><i class="material-icons" style="color: grey; font-size: 15px;">face</i>
                    Username</th>
                <th><i class="material-icons" style="color: grey; font-size: 15px;">bubble_chart</i>
                    First Name</th>
                <th><i class="material-icons" style="color: grey; font-size: 15px;">bubble_chart</i>
                    Last Name</th>
                <th><i class="material-icons" style="color: grey; font-size: 15px;">contact_phone</i>
                    Mobile Number</th>
                <th><i class="material-icons" style="color: grey; font-size: 15px;">email</i>
                    Email Address</th>
                <th><i class="material-icons" style="color: grey; font-size: 15px;">content_paste</i>
                    Password</th>
              </tr>
            </thead>
           
            <tbody>
              <tr>
                <td>ondunsiv</td>
                <td>Adele</td>
                <td>Knox</td>
                <td>09439282221</td>
                <td>adeleknox@example.com</td>
                <td>coolmovies221!</td>
              </tr>

              <tr>
                <td>mark52</td>
                <td>Tony</td>
                <td>Stark</td>
                <td>09001433000</td>
                <td>starkindustries@avengers.com</td>
                <td>iamironman3000!</td>
              </tr>

              <tr>
                <td>hulkstrong</td>
                <td>Bruce</td>
                <td>Banner</td>
                <td>09439288871</td>
                <td>brucebanner@avengers.com</td>
                <td>hulksmash123!</td>
              </tr>

              <tr>
                <td>spoderman</td>
                <td>Peter</td>
                <td>Porker</td>
                <td>09400282324</td>
                <td>peterporker@avengers.com</td>
                <td>iamfinallyanavenger30!</td>
              </tr>

              <tr>
                <td>kennyrogers</td>
                <td>Steve</td>
                <td>Rogers</td>
                <td>09401282424</td>
                <td>steverogers@avengers.com</td>
                <td>avengersassemble977!</td>
              </tr>

            </tbody>
          </table>
          <br><br>


    </div>
</div>
  
</div>