{{!< layout}}

<!-- BODY -->  

<div class="container" style="padding-top: 50px; padding-bottom: 100px;">
<h2>Welcome {{fname}} {{lname}}!</h2>
<br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a id="details"class="nav-link active" data-toggle="tab" href="#admindetails">Account Information</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="admindetails" class="container tab-pane active"><br>
    <!-- ACCOUNT INFO -->
      <p><b>Username:&nbsp;&nbsp;</b> {{uname}}</p> 
      <p><b>First Name:&nbsp;&nbsp;</b> {{fname}}</p> 
      <p><b>Last Name:&nbsp;&nbsp;</b> {{lname}}</p> 
      <p><b>Mobile Number:&nbsp;&nbsp;</b> {{mnum}}</p> 
      <p><b>Email Address:&nbsp;&nbsp;</b> {{email}}</p>
     <br>
    </div>

  </div>
  </div>