{{!< layout}}

<!-- BODY -->  

<div class="container" style="padding-top: 50px; padding-bottom: 100px;">
<h2>W&Js Cinemas</h2>
<br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a id="db"class="nav-link active" data-toggle="tab" href="#dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a id="aml"class="nav-link" data-toggle="tab" href="#adminMovieList">Movie List</a>
    </li>
   
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
      
    <!-- Dashboard -->
    <div id="dashboard" class="container tab-pane active"><br>
        <div class="container">
            <div class="row" style="padding-bottom: 50px;">
                <i class="material-icons" style="color: green; font-size: 50px;">done_all</i>
                &nbsp;&nbsp;<h1>You're all set!</h1>
            </div>

            <h2>Date: May 14, 2020</h2>

            <br><br>

            <div class="dashflex">
                <table class="dash table table-hover nowshowing">
                    <thead>
                        <tr>
                            <th><h4><i class="material-icons" style="color: green; font-size: 15px;">local_movies</i>
                                Now Showing</h4></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><b>{{name1}} <br>
                            <small>Rating: {{rating1}}</small></td>
                        </tr>

                        <tr>
                            <td><b>{{name2}} <br>
                            <small>Rating: {{rating2}}</small></td>
                        </tr>

                         <tr>
                            <td><b>{{name3}} <br>
                            <small>Rating: {{rating3}}</small></td>
                        </tr>

                         <tr>
                            <td><b>{{name4}} <br>
                            <small>Rating: {{rating4}}</small></td>
                        </tr>

                         <tr>
                            <td><b>{{name5}} <br>
                            <small>Rating: {{rating5}}</small></td>
                        </tr>

                         <tr>
                            <td><b>{{name6}} <br>
                            <small>Rating: {{rating6}}</small></td>
                        </tr>

                          <tr>
                            <td><b>{{name7}} <br>
                            <small>Rating: {{rating7}}</small></td>
                        </tr>

                          <tr>
                            <td><b>{{name8}} <br>
                            <small>Rating: {{rating8}}</small></td>
                        </tr>
                        
                        
                    </tbody>
                </table>

                <table class="dash table table-hover">
                    <thead>
                        <tr>
                            <th><h4><i class="material-icons" style="color: #3498db; font-size: 15px;">local_movies</i>
                                Coming Soon</h4></th>
                        </tr>
                    </thead>

                    <tbody>
                         <tr>
                            <td><b>{{name9}} <br>
                            <small>Rating: {{rating9}}</small></td>
                        </tr>

                         <tr>
                            <td><b>{{name10}} <br>
                            <small>Rating: {{rating10}}</small></td>
                        </tr>

                         <tr>
                            <td><b>{{name11}} <br>
                            <small>Rating: {{rating11}}</small></td>
                        </tr>

                        <tr>
                            <td><b>{{name12}} <br>
                            <small>Rating: {{rating12}}</small></td>
                        </tr>

                        <tr>
                            <td><b>{{name13}} <br>
                            <small>Rating: {{rating13}}</small></td>
                        </tr>

                         <tr>
                            <td><b>{{name14}} <br>
                            <small>Rating: {{rating14}}</small></td>
                        </tr>
                    </tbody>

                </table >

            </div>

            <div class="container" style="padding-top: 50px;">
            <div class="row">
                <i class="material-icons" style="color: orange; font-size: 50px;">today</i>
                &nbsp;&nbsp;<h1>What's happening?</h1>
            </div>

            <br><br>

            <div class="dashflex">

                  <table class="dash table table-hover" id="screenings">
                    <thead>
                        <tr>
                            <th><h4><i class="material-icons" style="color: black; font-size: 15px;">date_range</i>
                                Screenings</h4></th>
                             <th><h4><i class="material-icons" style="color: black; font-size: 15px;">description</i>
                                Details</h4></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><b>Cinema {{cinema1}}</b> <br>
                            <small>{{s1timeslot1}}, {{s1timeslot2}}, 
                                {{s1timeslot3}}, {{s1timeslot4}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name1}}</b> <br>
                                <small>Start date: {{date1start}}</small> <br>
                                <small>End date: {{date1end}}</small> </td>
                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>

                        <tr>
                            <td><b>Cinema {{cinema2}}</b> <br>
                            <small>{{s2timeslot1}}, {{s2timeslot2}}, 
                                {{s2timeslot3}}, {{s2timeslot4}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name2}}</b> <br>
                                <small>Start date: {{date2start}}</small> <br>
                                <small>End date: {{date2end}}</small> </td>
                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>

                        <tr>
                             <td><b>Cinema {{cinema3}}</b> <br>
                            <small>{{s3timeslot1}}, {{s3timeslot2}}, 
                                {{s3timeslot3}}, {{s3timeslot4}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name3}}</b> <br>
                                <small>Start date: {{date3start}}</small> <br>
                                <small>End date: {{date3end}}</small></td>

                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>

                        <tr>
                             <td><b>Cinema {{cinema4}}</b> <br>
                            <small>{{s4timeslot1}}, {{s4timeslot2}}, 
                                {{s4timeslot3}}, {{s4timeslot4}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name4}}</b> <br>
                                <small>Start date: {{date4start}}</small> <br>
                                <small>End date: {{date4end}}</small> </td>

                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>

                        <tr>
                             <td><b>Cinema {{cinema5}}</b> <br>
                            <small>{{s5timeslot1}}, {{s5timeslot2}}, 
                                {{s5timeslot3}}, {{s5timeslot4}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name5}}</b> <br>
                                 <small>Start date: {{date5start}}</small> <br>
                                <small>End date: {{date5end}}</small></td>

                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>

                        <tr>
                             <td><b>Cinema {{cinema6}}</b> <br>
                            <small>{{s6timeslot1}}, {{s6timeslot2}}, 
                                {{s6timeslot3}}, {{s6timeslot4}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name6}}</b> <br>
                                <small>Start date: {{date6start}}</small> <br>
                                <small>End date: {{date6end}}</small></td>

                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>

                        <tr>
                             <td><b>Cinema {{cinema7}}</b> <br>
                            <small>{{s7timeslot1}}, {{s7timeslot2}}, 
                                {{s7timeslot3}}, {{s7timeslot4}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name7}}</b> <br>
                                <small>Start date: {{date7start}}</small> <br>
                                <small>End date: {{date7end}}</small></td>

                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>

                        <tr>
                             <td><b>Cinema {{cinema8}}</b> <br>
                            <small>{{s8timeslot1}}, {{s8timeslot2}}, 
                                {{s8timeslot3}}, {{s8timeslot4}}</small></td>
                            <td><b style="text-transform: uppercase;">{{name8}}</b> <br>
                                 <small>Start date: {{date8start}}</small> <br>
                                <small>End date: {{date8end}}</small></td>
                            <td>
                                <button class="btn btn-primary">Edit</button>
                            </td>
                        </tr>
                    </tbody>

                </table >

                <table class="dash table table-hover" style="width: fit-content;" id="reservations">
                    <thead>
                        <tr>
                            <th><h4><i class="material-icons" style="color: #4717F6; font-size: 15px;">event_seat</i>
                                Reservations</h4></th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#if reservations}}
                        {{#each reservations}}
                        <tr>
                            <td><b>Reservation ID:</b>&nbsp;&nbsp;{{this._id}} <br>
                            <b>Date:</b>&nbsp;&nbsp; {{this.date_chosen}}&nbsp;&nbsp;&nbsp;{{this.time_chosen}} <br>
                            <b>Details:</b>&nbsp;&nbsp; Cinema {{this.cinema}}&nbsp;&nbsp;&nbsp; {{this.movie}}&nbsp;&nbsp;&nbsp; <br>
                            <b>Price:</b>&nbsp;&nbsp; Php {{this.totalprice}}.00 <br>
                            <b>Seats:</b>&nbsp;&nbsp; {{this.reserved_seats}} 
                            </td> 

                             <td><br><center><button class="btn btn-custom cancelButton">Cancel</button></center></td>
                        </tr>
                        {{/each}}
                        {{else}}
                        <tr>
                            <td>No reservations yet</td>
                        </tr>
                        {{/if}}
                        
                        
                    </tbody>
                </table>

              

            </div>
            </div>

        </div>
      
    </div>

    <!-- Movie List -->
    <div id="adminMovieList" class="container tab-pane fade"><br>
     
        <table class="table table-hover table-responsive">
            <thead>
              <tr>
                <th>Movies</th>
                <th>Movie Details</th>
                <th>Schedule</th>
                <th>Status</th>
              </tr>
            </thead>
           
            <tbody>
              <tr>
                <td><b style="text-transform: uppercase;">{{name1}}</b><br>
                 <small>Rating: {{rating1}}</small>
                 </td>
                <td>{{shortdesc1}}</td>

                <td>{{date1start}} - {{date1end}}<br>
                   <small>
                    {{s1timeslot1}} | {{s1timeslot2}} | {{s1timeslot3}} <br>
                    {{s1timeslot4}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
              </tr>

                 <tr>
                <td><b style="text-transform: uppercase;">{{name2}}</b><br>
                 <small>Rating: {{rating2}}</small>
                 </td>
                <td>{{shortdesc2}}</td>

                <td>{{date2start}} - {{date2end}}<br>
                   <small>
                    {{s2timeslot1}} | {{s2timeslot2}} | {{s2timeslot3}} | {{s2timeslot4}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;
                </td>
              </tr>

                 <tr>
                <td><b style="text-transform: uppercase;">{{name3}}</b><br>
                 <small>Rating: {{rating3}}</small>
                 </td>
                <td>{{shortdesc3}}</td>

                <td>{{date3start}} - {{date4end}}<br>
                   <small>
                    {{s3timeslot1}} | {{s3timeslot2}} | {{s3timeslot3}} <br>
                    {{s3timeslot4}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;
                </td>
              </tr>

                 <tr>
                <td><b style="text-transform: uppercase;">{{name4}}</b><br>
                 <small>Rating: {{rating4}}</small>
                 </td>
                <td>{{shortdesc4}}</td>

                <td>{{date4start}} - {{date4end}}<br>
                   <small>
                    {{s4timeslot1}} | {{s4timeslot2}} | {{s4timeslot3}} <br>
                    {{s4timeslot4}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;
                </td>
              </tr>

                 <tr>
                <td><b style="text-transform: uppercase;">{{name5}}</b><br>
                 <small>Rating: {{rating5}}</small>
                 </td>
                <td>{{shortdesc5}}</td>

                <td>{{date5start}} - {{date5end}}<br>
                   <small>
                    {{s5timeslot1}} | {{s5timeslot2}} | {{s5timeslot3}} <br>
                    {{s5timeslot4}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;
                </td>
              </tr>

                 <tr>
                <td><b style="text-transform: uppercase;">{{name6}}</b><br>
                 <small>Rating: {{rating6}}</small>
                 </td>
                <td>{{shortdesc6}}</td>

                <td>{{date6start}} - {{date6end}}<br>
                   <small>
                    {{s6timeslot1}} | {{s6timeslot2}} | {{s6timeslot3}} <br>
                    {{s6timeslot4}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;
                </td>
              </tr>

                 <tr>
                <td><b style="text-transform: uppercase;">{{name7}}</b><br>
                 <small>Rating: {{rating7}}</small>
                 </td>
                <td>{{shortdesc7}}</td>

                <td>{{date7start}} - {{date7end}}<br>
                   <small>
                    {{s7timeslot1}} | {{s7timeslot2}} | {{s7timeslot3}} <br>
                    {{s7timeslot4}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;
                </td>
              </tr>

                 <tr>
                <td><b style="text-transform: uppercase;">{{name8}}</b><br>
                 <small>Rating: {{rating8}}</small>
                 </td>
                <td>{{shortdesc8}}</td>

                <td>{{date8start}} - {{date8end}}<br>
                   <small>
                    {{s8timeslot1}} | {{s8timeslot2}} | {{s8timeslot3}} <br>
                    {{s8timeslot4}}
                    </small><br>
                </td>
                <td>
                    <i class="material-icons" style="color: green; font-size: 15px;">check_circle</i>
                    <span>Published!</span><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">x</button> &nbsp;&nbsp;
                </td>
              </tr>

              
            </tbody>
          </table>
          <br><br>
    </div>

</div>
  
</div>