{{!< layout}}

<!-- CAROUSEL SLIDE -->
  <div id="demo" class="carousel slide mx-auto" data-ride="carousel">
    <br>
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
    </ul>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="" data-toggle="modal" data-target="#logModal">
        <img src="img/images/1917.jpg" alt="1917" width="1100" height="500">
        </a>
      </div>

      <div class="carousel-item">
        <a href="" data-toggle="modal" data-target="#logModal">
        <img src="img/images/sonic.jpg" alt="Sonic" width="1100" height="500">   
        </a>
      </div>

      <div class="carousel-item">
        <a href="" data-toggle="modal" data-target="#logModal">
        <img src="img/images/parasite.jpg" alt="Parasite" width="1100" height="500">
        </a>
      </div>

      <div class="carousel-item">
        <a href="" data-toggle="modal" data-target="#logModal">
        <img src="img/images/bop.png" alt="Birds of Prey" width="1100" height="500">
        </a>
      </div>

    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</div>


<!-- END OF CAROUSEL SLIDE -->
<br>

<!-- NAV PILLS -->
<ul class="nav nav-pills mb-3 justify-content-center m-auto" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-nowshowing-tab" data-toggle="pill" href="#pills-nowshowing" role="tab" aria-controls="pills-nowshowing" aria-selected="true">NOW SHOWING</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-comingsoon-tab" data-toggle="pill" href="#pills-comingsoon" role="tab" aria-controls="pills-comingsoon" aria-selected="false">COMING SOON</a>
  </li>
 
</ul>
<!-- END OF NAV PILLS -->
<br>

<!-- TAB CONTENT -->
<div class="tab-content" id="pills-tabContent">


<!-- NOW SHOWING -->
<div class="tab-pane fade show active" id="pills-nowshowing" role="tabpanel" aria-labelledby="pills-nowshowing-tab">
      
<!-- MOVIE CARDS -->
<div class="container-fluid">
<div class="row">

<!-- CARD 1 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-dark text-white">
            <img src={{img_url}} alt={{name}} class="card-img">
            <div class = "overlay">
                <div class="card-img-overlay">
                   <center><h5 class= "card-title">{{name}}</h5></center> 
                    <div class="card-body">
                      <!-- BUTTON 1 -->
                      <center class="my-1">
                        <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1Modal1">Details</button>
                      </center>
                      <!-- END OF BUTTON 1 -->

                      <!-- BUTTON 2 -->
                      <center class="my-1">
                        <form>
                         <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                       </form>
                      </center>
                      <!-- END OF BUTTON 2 -->

                      <!-- BUTTON 3 -->
                      <center class="my-1">
                        <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1Modal2">View Trailer</button>
                      </center>
                      <!-- END OF BUTTON 3 -->
                    </div>          
                    </div>
             </div>    
      </div>    
  </div>
  <!-- CARD 1 -->

     <!-- CARD 1 MODAL 1-->
     <div class="modal fade" id="c1Modal1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
              <h2 class="modal-title">{{name}}</h2> 
              <button type="button" class="close" data-dismiss="modal">&times;</button> 
          </div>
        
          <!-- Modal body -->
          <div class="modal-body">
            <h5 class="modal-title">{{shortdesc}}</h5><br>
            <p><b>Price: </b>Php {{price}}.00</p>
            
            <p><b>Synopsis: </b>{{synopsis}}</p>
            <p><b>Director/s: </b>{{directors}}</p>
            <p><b>Cast: </b>{{cast}}</p>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
          </div>
        
        </div>
        </div>
        </div>
        <!-- END OF CARD 1 MODAL 1 -->

          <!-- CARD 1 MODAL 2-->
          <div class="modal fade" id="c1Modal2">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">{{name}} Trailer</h2> 
                <button type="button" class="close" data-dismiss="modal">&times;</button> 
            </div>
          
            <!-- Modal body -->
            <div class="modal-body">
              <!-- YOUTUBE EMBEDDED VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="660" height="371" 
                  src={{trailer_url}} frameborder="0" 
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <!-- END OF YOUTUBE EMBEDDED VIDEO -->
              
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
            </div>
          
          </div>
          </div>
          </div>
        <!-- END OF CARD 1 MODAL 2 -->

<!-- CARD 2 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card bg-dark text-white">
          <img src={{img_url2}} alt={{name2}} class="card-img">
          <div class = "overlay">
              <div class="card-img-overlay">
                <center><h5 class= "card-title">{{name2}}</h5></center> 
                <div class="card-body">
                  <!-- BUTTON 1 -->
                  <center class="my-1">
                    <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2Modal1">Details</button>
                  </center>
                  <!-- END OF BUTTON 1 -->

                  <!-- BUTTON 2 -->
                  <center class="my-1">
                    <form>
                      <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->

                  <!-- BUTTON 3 -->
                  <center class="my-1">
                    <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2Modal2">View Trailer</button>
                  </center>
                  <!-- END OF BUTTON 3 -->
                </div>          
                </div>
         </div>    
  </div>    
</div>
<!-- CARD 2 -->

 <!-- CARD 2 MODAL 1-->
 <div class="modal fade" id="c2Modal1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">{{name2}}</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <h5 class="modal-title">{{shortdesc2}}</h5><br>
        <p><b>Price: </b>Php {{price2}}.00</p>
        
        <p><b>Synopsis: </b>{{synopsis2}}</p>
        <p><b>Director/s: </b>{{directors2}}</p>
        <p><b>Cast: </b>{{cast2}}</p>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
    <!-- END OF CARD 2 MODAL 1 -->

      <!-- CARD 2 MODAL 2-->
      <div class="modal fade" id="c2Modal2">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h2 class="modal-title">{{name2}} Trailer</h2> 
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
      
        <!-- Modal body -->
        <div class="modal-body">
          <!-- YOUTUBE EMBEDDED VIDEO -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="660" height="371" src="https://www.youtube.com/embed/5xH0HfJHsaY" 
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <!-- END OF YOUTUBE EMBEDDED VIDEO -->
          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
        </div>
      
      </div>
      </div>
      </div>
    <!-- END OF CARD 2 MODAL 2 -->

<!-- CARD 3 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
<div class="card bg-dark text-white">
        <img src={{img_url3}} alt={{name3}} class="card-img">
        <div class = "overlay">
            <div class="card-img-overlay">
              <center><h5 class= "card-title">{{name3}}</h5></center> 
              <div class="card-body">
                <!-- BUTTON 1 -->
                <center class="my-1">
                  <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c3Modal1">Details</button>
                </center>
                <!-- END OF BUTTON 1 -->

                <!-- BUTTON 2 -->
                <center class="my-1">
                  <form>
                    <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                 </form>
                </center>
                <!-- END OF BUTTON 2 -->

                <!-- BUTTON 3 -->
                <center class="my-1">
                  <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c3Modal2">View Trailer</button>
                </center>
                <!-- END OF BUTTON 3 -->
              </div>          
              </div>
       </div>    
</div>    
</div>
<!-- CARD 3 -->

<!-- CARD 3 MODAL 1-->
<div class="modal fade" id="c3Modal1">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
  
    <!-- Modal Header -->
    <div class="modal-header">
        <h2 class="modal-title">{{name3}}</h2> 
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
    </div>
  
    <!-- Modal body -->
    <div class="modal-body">
      <h5 class="modal-title">{{shortdesc3}}</h5><br>
      <p><b>Price: </b>Php {{price3}}.00</p>
      
      <p><b>Synopsis: </b>{{synopsis3}}</p>
      <p><b>Director/s: </b>{{directors3}}</p>
      <p><b>Cast: </b>{{cast3}}</p>
    </div>
    
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
    </div>
  
  </div>
  </div>
  </div>
  <!-- END OF CARD 3 MODAL 1 -->

    <!-- CARD 3 MODAL 2-->
    <div class="modal fade" id="c3Modal2">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
  
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">{{name3}} Trailer</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <!-- YOUTUBE EMBEDDED VIDEO -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="660" height="371" 
          src={{trailer_url3}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- END OF YOUTUBE EMBEDDED VIDEO -->
        
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
  <!-- END OF CARD 3 MODAL 2 -->

<!-- CARD 4 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
<div class="card bg-dark text-white">
        <img src={{img_url4}} alt={{name4}} class="card-img">
        <div class = "overlay">
            <div class="card-img-overlay">
              <center><h5 class= "card-title">{{name4}}</h5></center> 
              <div class="card-body">
                <!-- BUTTON 1 -->
                <center class="my-1">
                  <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c4Modal1">Details</button>
                </center>
                <!-- END OF BUTTON 1 -->

                <!-- BUTTON 2 -->
                <center class="my-1">
                  <form>
                    <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                 </form>
                </center>
                <!-- END OF BUTTON 2 -->

                <!-- BUTTON 3 -->
                <center class="my-1">
                  <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c4Modal2">View Trailer</button>
                </center>
                <!-- END OF BUTTON 3 -->
              </div>          
              </div>
       </div>    
</div>    
</div>
<!-- CARD 4 -->

<!-- CARD 4 MODAL 1-->
<div class="modal fade" id="c4Modal1">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
  
    <!-- Modal Header -->
    <div class="modal-header">
        <h2 class="modal-title">{{name4}}</h2> 
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
    </div>
  
    <!-- Modal body -->
    <div class="modal-body">
      <h5 class="modal-title">{{shortdesc4}}</h5><br>
      <p><b>Price: </b>Php {{price4}}.00</p>
      
      <p><b>Synopsis: </b>{{synopsis4}}</p>
      <p><b>Director/s: </b>Cathy Yan</p>
      <p><b>Cast: </b> {{cast4}} </p>
    </div>
    
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
    </div>
  
  </div>
  </div>
  </div>
  <!-- END OF CARD 4 MODAL 1 -->

    <!-- CARD 4 MODAL 2-->
    <div class="modal fade" id="c4Modal2">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
  
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">{{name4}}Trailer</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <!-- YOUTUBE EMBEDDED VIDEO -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="660" height="371" 
          src={{trailer_url4}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- END OF YOUTUBE EMBEDDED VIDEO -->
        
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
  <!-- END OF CARD 4 MODAL 2 -->

</div>
<!-- END OF ROW-->
<br>
<span id="dots"></span> 

<!-- VIEW MORE -->

<div id="more" class="container">
<div class="row">
<!-- CARD 1 ROW 2-->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-dark text-white">
            <img src={{img_url5}} alt={{name5}} class="card-img">
            <div class = "overlay">
                <div class="card-img-overlay">
                  <center><h5 class= "card-title">{{name5}}</h5></center> 
                  <div class="card-body">
                    <!-- BUTTON 1 -->
                    <center class="my-1">
                      <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1r2Modal1">Details</button>
                    </center>
                    <!-- END OF BUTTON 1 -->
    
                    <!-- BUTTON 2 -->
                    <center class="my-1">
                      <form>
                        <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                     </form>
                    </center>
                    <!-- END OF BUTTON 2 -->
    
                    <!-- BUTTON 3 -->
                    <center class="my-1">
                      <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1r2Modal2">View Trailer</button>
                    </center>
                    <!-- END OF BUTTON 3 -->
                  </div>          
                  </div>
           </div>    
    </div>    
    </div>
    <!-- CARD 1 ROW 2 -->
    
    <!-- CARD 1 ROW 2 MODAL 1-->
    <div class="modal fade" id="c1r2Modal1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
            <h2 class="modal-title">{{name5}}</h2> 
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
      
        <!-- Modal body -->
        <div class="modal-body">
          <h5 class="modal-title">{{shortdesc5}}</h5><br>
          <p><b>Price: </b>Php {{price5}}.00</p>
          
          <p><b>Synopsis: </b>{{synopsis5}}</p>
          <p><b>Director/s: </b>{{directors5}}</p>
          <p><b>Cast: </b> {{cast5}} </p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
        </div>
      
      </div>
      </div>
      </div>
      <!-- END OF CARD 1 ROW 2 MODAL 1 -->
    
        <!-- CARD 1 ROW 2 MODAL 2-->
        <div class="modal fade" id="c1r2Modal2">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
      
          <!-- Modal Header -->
          <div class="modal-header">
              <h2 class="modal-title">{{name5}} Trailer</h2> 
              <button type="button" class="close" data-dismiss="modal">&times;</button> 
          </div>
        
          <!-- Modal body -->
          <div class="modal-body">
            <!-- YOUTUBE EMBEDDED VIDEO -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="660" height="371" 
              src={{trailer_url5}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- END OF YOUTUBE EMBEDDED VIDEO -->
            
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
          </div>
        
        </div>
        </div>
        </div>
      <!-- END OF CARD 1 ROW 2 MODAL 2 -->

<!-- CARD 2 ROW 2-->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card bg-dark text-white">
          <img src={{img_url6}} alt={{name6}} class="card-img">
          <div class = "overlay">
              <div class="card-img-overlay">
                <center><h5 class= "card-title">{{name6}}</h5></center> 
                <div class="card-body">
                  <!-- BUTTON 1 -->
                  <center class="my-1">
                    <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2r2Modal1">Details</button>
                  </center>
                  <!-- END OF BUTTON 1 -->
  
                  <!-- BUTTON 2 -->
                  <center class="my-1">   
                      <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                
                  </center>
                  <!-- END OF BUTTON 2 -->
  
                  <!-- BUTTON 3 -->
                  <center class="my-1">
                    <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2r2Modal2">View Trailer</button>
                  </center>
                  <!-- END OF BUTTON 3 -->
                </div>          
                </div>
         </div>    
  </div>    
  </div>
  <!-- CARD 2 ROW 2 -->
  
  <!-- CARD 2 ROW 2 MODAL 1-->
  <div class="modal fade" id="c2r2Modal1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">{{name6}}</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <h5 class="modal-title">{{shortdesc6}}</h5><br>
        <p><b>Price: </b>Php {{price6}}.00</p>
        
        <p><b>Synopsis: </b>{{synopsis6}}</p>
        <p><b>Director/s: </b>{{directors6}}</p>
        <p><b>Cast: </b> {{cast6}} </p>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
    <!-- END OF CARD 2 ROW 2 MODAL 1 -->
  
      <!-- CARD 2 ROW 2 MODAL 2-->
      <div class="modal fade" id="c2r2Modal2">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h2 class="modal-title">{{name6}} Trailer</h2> 
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
      
        <!-- Modal body -->
        <div class="modal-body">
          <!-- YOUTUBE EMBEDDED VIDEO -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="660" height="371" src={{trailer_url6}}
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <!-- END OF YOUTUBE EMBEDDED VIDEO -->
          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
        </div>
      
      </div>
      </div>
      </div>
    <!-- END OF CARD 2 ROW 2 MODAL 2 -->

<!-- CARD 3 ROW 2-->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
<div class="card bg-dark text-white">
        <img src={{img_url7}} alt={{name7}} class="card-img">
        <div class = "overlay">
            <div class="card-img-overlay">
              <center><h5 class= "card-title">{{name7}}</h5></center> 
              <div class="card-body">
                <!-- BUTTON 1 -->
                <center class="my-1">
                  <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c3r2Modal1">Details</button>
                </center>
                <!-- END OF BUTTON 1 -->

                <!-- BUTTON 2 -->
                <center class="my-1">
                  <form>
                    <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                 </form>
                </center>
                <!-- END OF BUTTON 2 -->

                <!-- BUTTON 3 -->
                <center class="my-1">
                  <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c3r2Modal2">View Trailer</button>
                </center>
                <!-- END OF BUTTON 3 -->
              </div>          
              </div>
       </div>    
</div>    
</div>
<!-- CARD 3 ROW 2 -->

<!-- CARD 3 ROW 2 MODAL 1-->
<div class="modal fade" id="c3r2Modal1">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
  
    <!-- Modal Header -->
    <div class="modal-header">
        <h2 class="modal-title">{{name7}}</h2> 
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
    </div>
  
    <!-- Modal body -->
    <div class="modal-body">
      <h5 class="modal-title">{{shortdesc7}}</h5><br>
      <p><b>Price: </b>Php {{price7}}.00</p>
      
      <p><b>Synopsis: </b>{{synopsis7}}</p>
      <p><b>Director/s: </b>{{directors7}}</p>
      <p><b>Cast: </b>   {{cast7}} </p>
    </div>
    
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
    </div>
  
  </div>
  </div>
  </div>
  <!-- END OF CARD 3 ROW 2 MODAL 1 -->

    <!-- CARD 3 ROW 2 MODAL 2-->
    <div class="modal fade" id="c3r2Modal2">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
  
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">{{name7}} Trailer</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <!-- YOUTUBE EMBEDDED VIDEO -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="660" height="371" src={{trailer_url7}}
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- END OF YOUTUBE EMBEDDED VIDEO -->
        
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
  <!-- END OF CARD 3 ROW 2 MODAL 2 -->

<!-- CARD 4 ROW 2-->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
<div class="card bg-dark text-white">
        <img src={{img_url8}} alt={{name8}} class="card-img">
        <div class = "overlay">
            <div class="card-img-overlay">
              <center><h5 class= "card-title">{{name8}}</h5></center> 
              <div class="card-body">
                <!-- BUTTON 1 -->
                <center class="my-1">
                  <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c4r2Modal1">Details</button>
                </center>
                <!-- END OF BUTTON 1 -->

                <!-- BUTTON 2 -->
                <center class="my-1">
                  <form>
                    <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                 </form>
                </center>
                <!-- END OF BUTTON 2 -->

                <!-- BUTTON 3 -->
                <center class="my-1">
                  <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c4r2Modal2">View Trailer</button>
                </center>
                <!-- END OF BUTTON 3 -->
              </div>          
              </div>
       </div>    
</div>    
</div>
<!-- CARD 4 ROW 2 -->

<!-- CARD 4 ROW 2 MODAL 1-->
<div class="modal fade" id="c4r2Modal1">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
  
    <!-- Modal Header -->
    <div class="modal-header">
        <h2 class="modal-title">{{name8}}</h2> 
        <button type="button" class="close" data-dismiss="modal">&times;</button> 
    </div>
  
    <!-- Modal body -->
    <div class="modal-body">
      <h5 class="modal-title">{{shortdesc8}}</h5><br>
      <p><b>Price: </b> Php {{price8}}.00</p>
      
      <p><b>Synopsis: </b>{{synopsis8}}</p>
      <p><b>Director/s: </b> {{directors8}}</p>
      <p><b>Cast: </b> {{cast8}} </p>
    </div>
    
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
    </div>
  
  </div>
  </div>
  </div>
  <!-- END OF CARD 4 ROW 2 MODAL 1 -->

    <!-- CARD 1 ROW 2 MODAL 2-->
    <div class="modal fade" id="c4r2Modal2">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
  
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">{{name8}} Trailer</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <!-- YOUTUBE EMBEDDED VIDEO -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="660" height="371" src={{trailer_url8}}
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- END OF YOUTUBE EMBEDDED VIDEO -->
        
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
  <!-- END OF CARD 4 ROW 2 MODAL 2 -->

</div>
<!-- END OF ROW 2-->
</div>
<!-- END OF CONTAINER -->

<div class="nav nav-pills mb-3 justify-content-center">
  <button onclick="myFunction()" id="myBtn" class="btn btn-custom btn-md">View All</button>
</div>

</div>
<!-- END OF NOW SHOWING -->
</div>
<!-- END OF CONTAINER -->


<!-- COMING SOON -->
<div class="tab-pane fade" id="pills-comingsoon" role="tabpanel" aria-labelledby="pills-comingsoon-tab">
 <!-- MOVIE CARDS -->
<div class="container-fluid">
  <div class="row">

  <!-- CARD 1 -->
  <div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card bg-dark text-white">
              <img src={{img_url9}} alt={{name9}} class="card-img">
              <div class = "overlay">
                  <div class="card-img-overlay">
                    <center><h5 class= "card-title">{{name9}}</h5></center> 
                    <div class="card-body">
                      <!-- BUTTON 1 -->
                      <center class="my-1">
                        <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1-2Modal1">Details</button>
                      </center>
                      <!-- END OF BUTTON 1 -->
      
      
                      <!-- BUTTON 3 -->
                      <center class="my-1">
                        <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1-2Modal2">View Trailer</button>
                      </center>
                      <!-- END OF BUTTON 3 -->
                    </div>          
                    </div>
             </div>    
      </div>    
      </div>
      <!-- CARD 1 -->
      
      <!-- CARD 1 MODAL 1-->
      <div class="modal fade" id="c1-2Modal1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
              <h2 class="modal-title">{{name9}}</h2> 
              <button type="button" class="close" data-dismiss="modal">&times;</button> 
          </div>
        
          <!-- Modal body -->
          <div class="modal-body">
            <h5 class="modal-title">{{shortdesc9}}</h5><br>
            <p><b>Price: </b> Php {{price9}}.00</p>
            
            <p><b>Synopsis: </b>{{synopsis9}}</p>
            <p><b>Director/s: </b> {{directors9}}</p>
            <p><b>Cast: </b> {{cast9}} </p>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
          </div>
        
        </div>
        </div>
        </div>
        <!-- END OF CARD 1 MODAL 1 --> 
      
          <!-- CARD 1 MODAL 2-->
          <div class="modal fade" id="c1-2Modal2">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">{{name9}} Trailer</h2> 
                <button type="button" class="close" data-dismiss="modal">&times;</button> 
            </div>
          
            <!-- Modal body -->
            <div class="modal-body">
              <!-- YOUTUBE EMBEDDED VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="660" height="371" src={{trailer_url9}}
                  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <!-- END OF YOUTUBE EMBEDDED VIDEO -->
              
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
            </div>
          
          </div>
          </div>
          </div>
        <!-- END OF CARD 1 MODAL 2 -->

  <!-- CARD 2 -->
  <div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-dark text-white">
            <img src={{img_url10}} alt={{name10}} class="card-img">
            <div class = "overlay">
                <div class="card-img-overlay">
                  <center><h5 class= "card-title">{{name10}}</h5></center> 
                  <div class="card-body">
                    <!-- BUTTON 1 -->
                    <center class="my-1">
                      <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2-2Modal1">Details</button>
                    </center>
                    <!-- END OF BUTTON 1 -->
    
    
                    <!-- BUTTON 3 -->
                    <center class="my-1">
                      <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2-2Modal2">View Trailer</button>
                    </center>
                    <!-- END OF BUTTON 3 -->
                  </div>          
                  </div>
           </div>    
    </div>    
    </div>
    <!-- CARD 2 -->
    
    <!-- CARD 2 MODAL 1-->
    <div class="modal fade" id="c2-2Modal1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
            <h2 class="modal-title">{{name10}}</h2> 
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
      
        <!-- Modal body -->
        <div class="modal-body">
          <h5 class="modal-title">{{shortdesc10}}</h5><br>
          <p><b>Price: </b> Php {{price10}}.00</p>
          
          <p><b>Synopsis: </b>{{synopsis10}}</p>
          <p><b>Director/s: </b>{{directors10}}</p>
          <p><b>Cast: </b>{{cast10}} </p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
        </div>
      
      </div>
      </div>
      </div>
      <!-- END OF CARD 2 MODAL 1 -->
    
        <!-- CARD 2 MODAL 2-->
        <div class="modal fade" id="c2-2Modal2">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
      
          <!-- Modal Header -->
          <div class="modal-header">
              <h2 class="modal-title">{{name10}} Trailer</h2> 
              <button type="button" class="close" data-dismiss="modal">&times;</button> 
          </div>
        
          <!-- Modal body -->
          <div class="modal-body">
            <!-- YOUTUBE EMBEDDED VIDEO -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="660" height="371" src={{trailer_url10}}
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- END OF YOUTUBE EMBEDDED VIDEO -->
            
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
          </div>
        
        </div>
        </div>
        </div>
      <!-- END OF CARD 2 MODAL 2 -->

<!-- CARD 3 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card bg-dark text-white">
          <img src={{img_url11}} alt={{name11}} class="card-img">
          <div class = "overlay">
              <div class="card-img-overlay">
                <center><h5 class= "card-title">{{name11}}</h5></center> 
                <div class="card-body">
                  <!-- BUTTON 1 -->
                  <center class="my-1">
                    <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c3-2Modal1">Details</button>
                  </center>
                  <!-- END OF BUTTON 1 -->
  
  
                  <!-- BUTTON 3 -->
                  <center class="my-1">
                    <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c3-2Modal2">View Trailer</button>
                  </center>
                  <!-- END OF BUTTON 3 -->
                </div>          
                </div>
         </div>    
  </div>    
  </div>
  <!-- CARD 3 -->
  
  <!-- CARD 3 MODAL 1-->
  <div class="modal fade" id="c3-2Modal1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">{{name11}}</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <h5 class="modal-title">{{shortdesc11}}</h5><br>
        <p><b>Price: </b>Php {{price11}}.00</p>
        
        <p><b>Synopsis: </b>{{synopsis11}}</p>
        <p><b>Director/s: </b> {{directors11}}</p>
        <p><b>Cast: </b> {{cast11}} </p>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
    <!-- END OF CARD 3 MODAL 1 -->
  
      <!-- CARD 3 MODAL 2-->
      <div class="modal fade" id="c3-2Modal2">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h2 class="modal-title">{{name11}} Trailer</h2> 
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
      
        <!-- Modal body -->
        <div class="modal-body">
          <!-- YOUTUBE EMBEDDED VIDEO -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="660" height="371" src={{trailer_url11}}
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <!-- END OF YOUTUBE EMBEDDED VIDEO -->
          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
        </div>
      
      </div>
      </div>
      </div>
    <!-- END OF CARD 3 MODAL 2 -->

<!-- CARD 4 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card bg-dark text-white">
          <img src={{img_url12}} alt={{name12}} class="card-img">
          <div class = "overlay">
              <div class="card-img-overlay">
                <center><h5 class= "card-title">{{name12}}</h5></center> 
                <div class="card-body">
                  <!-- BUTTON 1 -->
                  <center class="my-1">
                    <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c4-2Modal1">Details</button>
                  </center>
                  <!-- END OF BUTTON 1 -->
  
  
                  <!-- BUTTON 3 -->
                  <center class="my-1">
                    <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c4-2Modal2">View Trailer</button>
                  </center>
                  <!-- END OF BUTTON 3 -->
                </div>          
                </div>
         </div>    
  </div>    
  </div>
  <!-- CARD 4 -->
  
  <!-- CARD 4 MODAL 1-->
  <div class="modal fade" id="c4-2Modal1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
          <h2 class="modal-title">{{name12}}</h2> 
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
      </div>
    
      <!-- Modal body -->
      <div class="modal-body">
        <h5 class="modal-title">{{shortdesc12}}</h5><br>
        <p><b>Price: </b>Php {{price12}}.00</p>
        
        <p><b>Synopsis: </b>{{synopsis12}}</p>
        <p><b>Director/s: </b> {{directors12}}</p>
        <p><b>Cast: </b>  {{cast12}} </p>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
      </div>
    
    </div>
    </div>
    </div>
    <!-- END OF CARD 4 MODAL 1 -->
  
      <!-- CARD 4 MODAL 2-->
      <div class="modal fade" id="c4-2Modal2">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
            <h2 class="modal-title">{{name12}} Trailer</h2> 
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
      
        <!-- Modal body -->
        <div class="modal-body">
          <!-- YOUTUBE EMBEDDED VIDEO -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="660" height="371" src={{trailer_url12}}
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <!-- END OF YOUTUBE EMBEDDED VIDEO -->
          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
        </div>
      
      </div>
      </div>
      </div>
    <!-- END OF CARD 4 MODAL 2 -->

</div>
<!-- END OF ROW-->
<br>
<span id="dots2"></span> 

<!-- VIEW MORE -->

<div id="more2" class="container">
<div class="row">
  <!-- CARD 1 ROW 2-->
  <div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card bg-dark text-white">
              <img src={{img_url13}} alt={{name13}} class="card-img">
              <div class = "overlay">
                  <div class="card-img-overlay">
                    <center><h5 class= "card-title">{{name13}}</h5></center> 
                    <div class="card-body">
                      <!-- BUTTON 1 -->
                      <center class="my-1">
                        <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1r2-2Modal1">Details</button>
                      </center>
                      <!-- END OF BUTTON 1 -->
      
      
                      <!-- BUTTON 3 -->
                      <center class="my-1">
                        <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c1r2-2Modal2">View Trailer</button>
                      </center>
                      <!-- END OF BUTTON 3 -->
                    </div>          
                    </div>
             </div>    
      </div>    
      </div>
      <!-- CARD 1 ROW 2 -->
      
      <!-- CARD 1 ROW 2 MODAL 1-->
      <div class="modal fade" id="c1r2-2Modal1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
              <h2 class="modal-title">{{name13}}</h2> 
              <button type="button" class="close" data-dismiss="modal">&times;</button> 
          </div>
        
          <!-- Modal body -->
          <div class="modal-body">
            <h5 class="modal-title">{{shortdesc13}}</h5><br>
            <p><b>Price: </b> Php {{price13}}.00</p>
            
            <p><b>Synopsis: </b>{{synopsis13}}</p>
            <p><b>Director/s: </b>{{directors13}}</p>
            <p><b>Cast: </b> {{cast13}}  </p>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
          </div>
        
        </div>
        </div>
        </div>
        <!-- END OF CARD 1 ROW 2 MODAL 1 -->
      
          <!-- CARD 1 ROW 2 MODAL 2-->
          <div class="modal fade" id="c1r2-2Modal2">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">{{name13}} Trailer</h2> 
                <button type="button" class="close" data-dismiss="modal">&times;</button> 
            </div>
          
            <!-- Modal body -->
            <div class="modal-body">
              <!-- YOUTUBE EMBEDDED VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="660" height="371" src={{trailer_url13}}
                  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <!-- END OF YOUTUBE EMBEDDED VIDEO -->
              
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
            </div>
          
          </div>
          </div>
          </div>
        <!-- END OF CARD 1 ROW 2 MODAL 2 -->

  <!-- CARD 2 ROW 2-->
  <div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-dark text-white">
            <img src={{img_url14}} alt={{name14}} class="card-img">
            <div class = "overlay">
                <div class="card-img-overlay">
                  <center><h5 class= "card-title">{{name14}}</h5></center> 
                  <div class="card-body">
                    <!-- BUTTON 1 -->
                    <center class="my-1">
                      <button type="button" class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2r2-2Modal1">Details</button>
                    </center>
                    <!-- END OF BUTTON 1 -->
    
    
                    <!-- BUTTON 3 -->
                    <center class="my-1">
                      <button class="btn btn-custom cardButtons mx-auto" data-toggle="modal" data-target="#c2r2-2Modal2">View Trailer</button>
                    </center>
                    <!-- END OF BUTTON 3 -->
                  </div>          
                  </div>
           </div>    
    </div>    
    </div>
    <!-- CARD 2 ROW 2 -->
    
    <!-- CARD 4 MODAL 1-->
    <div class="modal fade" id="c2r2-2Modal1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
            <h2 class="modal-title">{{name14}}</h2> 
            <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
      
        <!-- Modal body -->
        <div class="modal-body">
          <h5 class="modal-title">{{shortdesc14}}</h5><br>
          <p><b>Price: </b>Php {{price14}}.00</p>
          
          <p><b>Synopsis: </b>{{synopsis14}}</p>
          <p><b>Director/s: </b> {{directors14}}</p>
          <p><b>Cast: </b>{{cast14}} </p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
        </div>
      
      </div>
      </div>
      </div>
      <!-- END OF CARD 2 ROW 2 MODAL 1 -->
    
        <!-- CARD 2 ROW 2 MODAL 2-->
        <div class="modal fade" id="c2r2-2Modal2">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
      
          <!-- Modal Header -->
          <div class="modal-header">
              <h2 class="modal-title">{{name14}} Trailer</h2> 
              <button type="button" class="close" data-dismiss="modal">&times;</button> 
          </div>
        
          <!-- Modal body -->
          <div class="modal-body">
            <!-- YOUTUBE EMBEDDED VIDEO -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="660" height="371" src={{trailer_url14}}
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <!-- END OF YOUTUBE EMBEDDED VIDEO -->
            
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-custom modalButton" data-dismiss="modal">Close</button>
          </div>
        
        </div>
        </div>
        </div>
      <!-- END OF CARD 2 ROW 2 MODAL 2 -->

</div>
<!-- END OF ROW 2-->
</div>
<!-- END OF CONTAINER -->

<div class="nav nav-pills mb-3 justify-content-center">
    <button onclick="myFunction2()" id="myBtn2" class="btn btn-custom btn-md">View All</button>
  </div>

</div>
<!-- END OF COMING SOON -->

</div>
<!-- END OF TAB CONTENT -->
</div>
<!-- END OF CONTAINER -->


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>About Us</h1>      
    <p>W&Js Cinemas was founded by 3 students from De La Salle University
       applying their expertise in the field of Computer Science and Information Systems.</p>
  </div>
 </div> 
<br><br><br><br> <!-- Used br, so that the black part of the 
                        jumbotron won't expand as well.>