{{!< layout}}

<!-- BODY -->  

<div class="container" style="padding-bottom: 100px;">
<h2>Hi &nbsp;<b>{{uname}}</b>!</h2>
<br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a id="details"class="nav-link active" data-toggle="tab" href="#userdetails">Account Information</a>
    </li>
    <li class="nav-item">
      <a id="transactions"class="nav-link" data-toggle="tab" href="#usertransactions">Transaction History</a>
    </li>
  </ul>

<!-- Tab panes -->
<div class="tab-content">
  <div id="userdetails" class="container tab-pane active"><br>
  <!-- ACCOUNT INFO -->
    <p><b>Username:&nbsp;&nbsp;</b> {{uname}}</p> 
    <p><b>First Name:&nbsp;&nbsp;</b> {{fname}}</p> 
    <p><b>Last Name:&nbsp;&nbsp;</b> {{lname}}</p> 
    <p><b>Mobile Number:&nbsp;&nbsp;</b> {{mnum}}</p> 
    <p><b>Email Address:&nbsp;&nbsp;</b> {{email}}</p>
    <br>
  </div>

  <!-- TRANSACTIONS -->
  <div id="usertransactions" class="container tab-pane fade"><br>
    <center>
      <table class="table table-hover table-responsive" style="max-width: fit-content;">
          <thead>
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Details</th>
              <th>Status</th>
            </tr>
          </thead>
         
          <tbody>
          <tr>
              <td>MAY 19, 2019 10:30 PM</td>
              <td>RESERVATION</td>
              <td><b>JOHN WICK: CHAPTER 3-PARABELLUM</b><br>
                  Cinema 2<br>
                  Seats: J16, J15, J14</td>
              <td>Reserved</td>
            </tr>

            <tr>
              <td>May 29, 2019 10:30 PM</td>
              <td>RESERVATION</td>
              <td><b>AVENGERS: ENDGAME</b><br>
                  Cinema 7<br>
                  Seats: J16, J15, J14</td>
              <td>Reserved</td>
            </tr>

            <tr>
              <td>JUNE 29, 2019 10:28 PM</td>
              <td>RESERVATION</td>
              <td><b>SPIDER-MAN: FAR FROM HOME</b><br>
                  Cinema 3<br>
                  Seats: L16, L15, L14</td>
              <td>Cancelled</td>
            </tr>

            <tr>
            <td>July 3, 2019 10:30 PM</td>
              <td>RESERVATION</td>
              <td><b>JOKER</b><br>
                  Cinema 4<br>
                  Seats: J16, J15, J14</td>
              <td>Reserved</td>
            </tr>

            <tr>
            <td>AUGUST 30, 2019 10:30 PM</td>
              <td>RESERVATION</td>
              <td><b>IT CHAPTER TWO</b><br>
                  Cinema 5<br>
                  Seats: J16, J15, J14</td>
              <td>Reserved</td>
            </tr>
            
          </tbody>
        </table>
      </center>
        <br><br>
      </div>
  </div>
</div>