{{!< layout}}

<div class="container" style="padding-bottom: 50px;">
    <div class="jumbotron jumbo">
        <center><h1>{{movieTitle}}</h1></center>
        <center>
            <p>Cinema {{cinema}}</p>
            <p> {{details}}</p>
          
            
            <br>
            <form class="movieform" method="POST" action={{post_url}}>
            <div class="row justify-content-center m-auto">
            <!-- SELECT DATE -->
            <div class="dropdown">
                <select type="button" class="btn btn-custom dropdown-toggle v2 mr-3" data-toggle="dropdown" name="datepicker">
               
                        <option name="dates1">{{date}}</option>
                        {{!-- <option name="dates2">{{dates.[1]}}</option>
                        <option name="dates3">{{dates.[2]}}</option>
                        <option name="dates4">{{dates.[3]}}</option>
                        <option name="dates5">{{dates.[4]}}</option> --}}
                       
                      </select>
                  </div>
                  
                  <!-- SELECT TIME -->
                  <div class="dropdown">
                    <select type="button" class="btn btn-custom dropdown-toggle v2" data-toggle="dropdown" name="timepicker" 
                      onchange="location = this.value;">
               
                            <option name="timeslots1" value={{reserve1}}>{{timeslot}}</option>
                            <option name="timeslots2" value={{reserve2}}>{{timeslot2}}</option>
                            <option name="timeslots3" value={{reserve3}}>{{timeslot3}}</option>
                            <option name="timeslots4" value={{reserve4}}>{{timeslot4}}</option>
                          </select>
                      </div>
        </center>
    </div>   
  </div>

    <center>
    <div class="container seatselection" style="margin-bottom: 200px;">
        <br> <br><h1 style="color: black; font-weight:bold; width:fit-content">MOVIE SCREEN HERE</h1><br>
        
        
        <!-- A -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"><b style="padding-right: 10px;">A</b>
             <!-- A1 -->
            <div class="form-check m-0"><small>A1</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="A1" name="seats" value="A1">
                    <label class="custom-control-label" for="A1"></label>
                  </div>
              </div>

            {{!-- A2 --}}
            <div class="form-check m-0"><small>A2</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="A2" name="seats" value="A2">
                    <label class="custom-control-label" for="A2"></label>
                  </div>
              </div>

            {{!-- A3 --}}
            <div class="form-check m-0"><small>A3</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="A3" name="seats" value="A3">
                    <label class="custom-control-label" for="A3"></label>
                  </div>
              </div>

            {{!-- A4 --}}
            <div class="form-check m-0"><small>A4</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="A4" name="seats" value="A4">
                    <label class="custom-control-label" for="A4"></label>
                  </div>
              </div>

            {{!-- A5 --}}
            <div class="form-check m-0"><small>A5</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="A5" name="seats" value="A5">
                    <label class="custom-control-label" for="A5"></label>
                  </div>
              </div>

            {{!-- A6 --}}
            <div class="form-check m-0"><small>A6</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="A6" name="seats" value="A6">
                    <label class="custom-control-label" for="A6"></label>
                  </div>
              </div>

            {{!-- A7 --}}
            <div class="form-check m-0"><small>A7</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="A7" name="seats" value="A7">
                    <label class="custom-control-label" for="A7"></label>
                  </div>
              </div>     

            {{!-- A8 --}}
            <div class="form-check m-0"><small>A8</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="A8" name="seats" value="A8">
                    <label class="custom-control-label" for="A8"></label>
                  </div>
              </div>      

            {{!-- A9 --}}
            <div class="form-check m-0"><small>A9</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="A9" name="seats" value="A9">
                    <label class="custom-control-label" for="A9"></label>
                  </div>
              </div>    

            {{!-- A10 --}}
            <div class="form-check m-0"><small>A10</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="A10" name="seats" value="A10">
                    <label class="custom-control-label" for="A10"></label>
                  </div>
              </div> 
            
            {{!-- A11 --}}
            <div class="form-check m-0"><small>A11</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="A11" name="seats" value="A11">
                    <label class="custom-control-label" for="A11"></label>
                  </div>
              </div>     

            {{!-- A12 --}}
            <div class="form-check m-0"><small>A12</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="A12" name="seats" value="A12">
                    <label class="custom-control-label" for="A12"></label>
                  </div>
              </div>

            {{!-- A13 --}}
            <div class="form-check m-0"><small>A13</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="A13" name="seats" value="A13">
                    <label class="custom-control-label" for="A13"></label>
                  </div>
              </div>     

            {{!-- A14 --}}
            <div class="form-check m-0"><small>A14</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="A14" name="seats" value="A14">
                    <label class="custom-control-label" for="A14"></label>
                  </div>
              </div>     

            {{!-- A15 --}}
            <div class="form-check m-0"><small>A15</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="A15" name="seats" value="A15">
                    <label class="custom-control-label" for="A15"></label>
                  </div>
              </div>           
        </div>
          </div>
          
          <!-- END OF A -->

           <!-- B -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"><b style="padding-left: 10px; padding-right:10px">B</b> 
             <!-- B1 -->
            <div class="form-check m-0"><small>B1</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="B1" name="seats" value="B1">
                    <label class="custom-control-label" for="B1"></label>
                  </div>
              </div>

            {{!-- B2 --}}
            <div class="form-check m-0"><small>B2</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="B2" name="seats" value="B2">
                    <label class="custom-control-label" for="B2"></label>
                  </div>
              </div>

            {{!-- B3 --}}
            <div class="form-check m-0"><small>B3</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="B3" name="seats" value="B3">
                    <label class="custom-control-label" for="B3"></label>
                  </div>
              </div>

            {{!-- B4 --}}
            <div class="form-check m-0"><small>B4</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="B4" name="seats" value="B4">
                    <label class="custom-control-label" for="B4"></label>
                  </div>
              </div>

            {{!-- B5 --}}
            <div class="form-check m-0"><small>B5</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="B5" name="seats" value="B5">
                    <label class="custom-control-label" for="B5"></label>
                  </div>
              </div>

            {{!-- B6 --}}
            <div class="form-check m-0"><small>B6</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="B6" name="seats" value="B6">
                    <label class="custom-control-label" for="B6"></label>
                  </div>
              </div>

            {{!-- B7 --}}
            <div class="form-check m-0"><small>B7</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="B7" name="seats" value="B7">
                    <label class="custom-control-label" for="B7"></label>
                  </div>
              </div>     

            {{!-- B8 --}}
            <div class="form-check m-0"><small>B8</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="B8" name="seats"  value="B8">
                    <label class="custom-control-label" for="B8"></label>
                  </div>
              </div>      

            {{!-- B9 --}}
            <div class="form-check m-0"><small>B9</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="B9" name="seats"  value="B9">
                    <label class="custom-control-label" for="B9"></label>
                  </div>
              </div>    

            {{!-- B10 --}}
            <div class="form-check m-0"><small>B10</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="B10" name="seats"  value="B10">
                    <label class="custom-control-label" for="B10"></label>
                  </div>
              </div> 
            
            {{!-- B11 --}}
            <div class="form-check m-0"><small>B11</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="B11" name="seats"  value="B11">
                    <label class="custom-control-label" for="B11"></label>
                  </div>
              </div>     

            {{!-- B12 --}}
            <div class="form-check m-0"><small>B12</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="B12" name="seats"  value="B12">
                    <label class="custom-control-label" for="B12"></label>
                  </div>
              </div>

            {{!-- B13 --}}
            <div class="form-check m-0"><small>B13</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="B13" name="seats"  value="B13">
                    <label class="custom-control-label" for="B13"></label>
                  </div>
              </div>     

            {{!-- B14 --}}
            <div class="form-check m-0"><small>B14</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="B14" name="seats"  value="B14">
                    <label class="custom-control-label" for="B14"></label>
                  </div>
              </div>     

            {{!-- B15 --}}
            <div class="form-check m-0"><small>B15</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="B15" name="seats"  value="B15">
                    <label class="custom-control-label" for="B15"></label>
                  </div>
              </div>           
        </div>
          </div>
          
          <!-- END OF B -->

           <!-- C -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"><b style="padding-left: 5px; padding-right:10px;">C</b>
             <!-- C1 -->
            <div class="form-check m-0"><small>C1</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="C1" name="seats"  value="C1">
                    <label class="custom-control-label" for="C1"></label>
                  </div>
              </div>

            {{!-- C2 --}}
            <div class="form-check m-0"><small>C2</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="C2" name="seats" value="C2">
                    <label class="custom-control-label" for="C2"></label>
                  </div>
              </div>

            {{!-- C3 --}}
            <div class="form-check m-0"><small>C3</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="C3" name="seats" value="C3">
                    <label class="custom-control-label" for="C3"></label>
                  </div>
              </div>

            {{!-- C4 --}}
            <div class="form-check m-0"><small>C4</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="C4" name="seats" value="C4">
                    <label class="custom-control-label" for="C4"></label>
                  </div>
              </div>

            {{!-- C5 --}}
            <div class="form-check m-0"><small>C5</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="C5" name="seats" value="C5">
                    <label class="custom-control-label" for="C5"></label>
                  </div>
              </div>

            {{!-- C6 --}}
            <div class="form-check m-0"><small>C6</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="C6" name="seats" value="C6">
                    <label class="custom-control-label" for="C6"></label>
                  </div>
              </div>

            {{!-- C7 --}}
            <div class="form-check m-0"><small>C7</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="C7" name="seats" value="C7">
                    <label class="custom-control-label" for="C7"></label>
                  </div>
              </div>     

            {{!-- C8 --}}
            <div class="form-check m-0"><small>C8</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="C8" name="seats" value="C8">
                    <label class="custom-control-label" for="C8"></label>
                  </div>
              </div>      

            {{!-- C9 --}}
            <div class="form-check m-0"><small>C9</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="C9" name="seats" value="C9">
                    <label class="custom-control-label" for="C9"></label>
                  </div>
              </div>    

            {{!-- C10 --}}
            <div class="form-check m-0"><small>C10</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="C10" name="seats" value="C10">
                    <label class="custom-control-label" for="C10"></label>
                  </div>
              </div> 
            
            {{!-- C11 --}}
            <div class="form-check m-0"><small>C11</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="C11" name="seats" value="C11">
                    <label class="custom-control-label" for="C11"></label>
                  </div>
              </div>     

            {{!-- C12 --}}
            <div class="form-check m-0"><small>C12</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="C12" name="seats" value="C12">
                    <label class="custom-control-label" for="C12"></label>
                  </div>
              </div>

            {{!-- C13 --}}
            <div class="form-check m-0"><small>C13</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="C13" name="seats" value="C13">
                    <label class="custom-control-label" for="C13"></label>
                  </div>
              </div>     

            {{!-- C14 --}}
            <div class="form-check m-0"><small>C14</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="C14" name="seats "value="C14">
                    <label class="custom-control-label" for="C14"></label>
                  </div>
              </div>     

            {{!-- C15 --}}
            <div class="form-check m-0"><small>C15</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="C15" name="seats" value="C15">
                    <label class="custom-control-label" for="C15"></label>
                  </div>
              </div>           
        </div>
          </div>
          
          <!-- END OF C -->

           <!-- D -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"><b style="padding-left: 25px; padding-right:10px;">D</b>
             <!-- D1 -->
            <div class="form-check m-0"><small>D1</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="D1" name="seats" value="D1">
                    <label class="custom-control-label" for="D1"></label>
                  </div>
              </div>

            {{!-- D2 --}}
            <div class="form-check m-0"><small>D2</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="D2" name="seats" value="D2">
                    <label class="custom-control-label" for="D2"></label>
                  </div>
              </div>

            {{!-- D3 --}}
            <div class="form-check m-0"><small>D3</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="D3" name="seats" value="D3">
                    <label class="custom-control-label" for="D3"></label>
                  </div>
              </div>

            {{!-- D4 --}}
            <div class="form-check m-0"><small>D4</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="D4" name="seats" value="D4">
                    <label class="custom-control-label" for="D4"></label>
                  </div>
              </div>

            {{!-- D5 --}}
            <div class="form-check m-0"><small>D5</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="D5" name="seats" value="D5">
                    <label class="custom-control-label" for="D5"></label>
                  </div>
              </div>

            {{!-- D6 --}}
            <div class="form-check m-0"><small>D6</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="D6" name="seats" value="D6">
                    <label class="custom-control-label" for="D6"></label>
                  </div>
              </div>

            {{!-- D7 --}}
            <div class="form-check m-0"><small>D7</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="D7" name="seats" value="D7">
                    <label class="custom-control-label" for="D7"></label>
                  </div>
              </div>     

            {{!-- D8 --}}
            <div class="form-check m-0"><small>D8</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="D8" name="seats" value="D8">
                    <label class="custom-control-label" for="D8"></label>
                  </div>
              </div>      

            {{!-- D9 --}}
            <div class="form-check m-0"><small>D9</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="D9" name="seats" value="D9">
                    <label class="custom-control-label" for="D9"></label>
                  </div>
              </div>    

            {{!-- D10 --}}
            <div class="form-check m-0"><small>D10</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="D10" name="seats" value="D10">
                    <label class="custom-control-label" for="D10"></label>
                  </div>
              </div> 
            
            {{!-- D11 --}}
            <div class="form-check m-0"><small>D11</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="D11" name="seats" value="D11">
                    <label class="custom-control-label" for="D11"></label>
                  </div>
              </div>     

            {{!-- D12 --}}
            <div class="form-check m-0"><small>D12</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="D12" name="seats" value="D12">
                    <label class="custom-control-label" for="D12"></label>
                  </div>
              </div>

            {{!-- D13 --}}
            <div class="form-check m-0"><small>D13</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="D13" name="seats" value="D13">
                    <label class="custom-control-label" for="D13"></label>
                  </div>
              </div>     

            {{!-- D14 --}}
            <div class="form-check m-0"><small>D14</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="D14" name="seats" value="D14">
                    <label class="custom-control-label" for="D14"></label>
                  </div>
              </div>     

            {{!-- D15 --}}
            <div class="form-check m-0"><small>D15</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="D15" name="seats" value="D15">
                    <label class="custom-control-label" for="D15"></label>
                  </div>
              </div>           
        </div>
          </div>
          
          <!-- END OF D -->

           <!-- E -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"><b style="padding-left: 3px; padding-right:15px;">E</b>
             <!-- E1 -->
            <div class="form-check m-0"><small>E1</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="E1" name="seats" value="E1">
                    <label class="custom-control-label" for="E1"></label>
                  </div>
              </div>

            {{!-- E2 --}}
            <div class="form-check m-0"><small>E2</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="E2" name="seats" value="E2">
                    <label class="custom-control-label" for="E2"></label>
                  </div>
              </div>

            {{!-- E3 --}}
            <div class="form-check m-0"><small>E3</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="E3" name="seats" value="E3">
                    <label class="custom-control-label" for="E3"></label>
                  </div>
              </div>

            {{!-- E4 --}}
            <div class="form-check m-0"><small>E4</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="E4" name="seats" value="E4">
                    <label class="custom-control-label" for="E4"></label>
                  </div>
              </div>

            {{!-- E5 --}}
            <div class="form-check m-0"><small>E5</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="E5" name="seats" value="E5">
                    <label class="custom-control-label" for="E5"></label>
                  </div>
              </div>

            {{!-- E6 --}}
            <div class="form-check m-0"><small>E6</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="E6" name="seats" value="E6">
                    <label class="custom-control-label" for="E6"></label>
                  </div>
              </div>

            {{!-- E7 --}}
            <div class="form-check m-0"><small>E7</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="E7" name="seats" value="E7">
                    <label class="custom-control-label" for="E7"></label>
                  </div>
              </div>     

            {{!-- E8 --}}
            <div class="form-check m-0"><small>E8</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="E8" name="seats" value="E8">
                    <label class="custom-control-label" for="E8"></label>
                  </div>
              </div>      

            {{!-- E9 --}}
            <div class="form-check m-0"><small>E9</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="E9" name="seats" value="E9">
                    <label class="custom-control-label" for="E9"></label>
                  </div>
              </div>    

            {{!-- E10 --}}
            <div class="form-check m-0"><small>E10</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="E10" name="seats" value="E10">
                    <label class="custom-control-label" for="E10"></label>
                  </div>
              </div> 
            
            {{!-- E11 --}}
            <div class="form-check m-0"><small>E11</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="E11" name="seats" value="E11">
                    <label class="custom-control-label" for="E11"></label>
                  </div>
              </div>     

            {{!-- E12 --}}
            <div class="form-check m-0"><small>E12</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="E12" name="seats" value="E12">
                    <label class="custom-control-label" for="E12"></label>
                  </div>
              </div>

            {{!-- E13 --}}
            <div class="form-check m-0"><small>E13</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="E13" name="seats" value="E13">
                    <label class="custom-control-label" for="E13"></label>
                  </div>
              </div>     

            {{!-- E14 --}}
            <div class="form-check m-0"><small>E14</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="E14" name="seats" value="E14">
                    <label class="custom-control-label" for="E14"></label>
                  </div>
              </div>     

            {{!-- E15 --}}
            <div class="form-check m-0"><small>E15</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="E15" name="seats" value="E15">
                    <label class="custom-control-label" for="E15"></label>
                  </div>
              </div>           
        </div>
          </div>
          
          <!-- END OF E -->

           <!-- F -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"> <b style="padding-left: 7px; padding-right:10px;">F</b> &nbsp; &nbsp;
             <!-- F1 -->
            <div class="form-check m-0"><small>F1</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="F1" name="seats" value="F1">
                    <label class="custom-control-label" for="F1"></label>
                  </div>
              </div>

            {{!-- F2 --}}
            <div class="form-check m-0"><small>F2</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="F2" name="seats" value="F2">
                    <label class="custom-control-label" for="F2"></label>
                  </div>
              </div>

            {{!-- F3 --}}
            <div class="form-check m-0"><small>F3</small>&nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="F3" name="seats" value="F3">
                    <label class="custom-control-label" for="F3"></label>
                  </div>
              </div>

            {{!-- F4 --}}
            <div class="form-check m-0"><small>F4</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="F4" name="seats" value="F4">
                    <label class="custom-control-label" for="F4"></label>
                  </div>
              </div>

            {{!-- F5 --}}
            <div class="form-check m-0"><small>F5</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="F5" name="seats" value="F5">
                    <label class="custom-control-label" for="F5"></label>
                  </div>
              </div>

            {{!-- F6 --}}
            <div class="form-check m-0"><small>F6</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="F6" name="seats" value="F6">
                    <label class="custom-control-label" for="F6"></label>
                  </div>
              </div>

            {{!-- F7 --}}
            <div class="form-check m-0"><small>F7</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="F7" name="seats" value="F7">
                    <label class="custom-control-label" for="F7"></label>
                  </div>
              </div>     

            {{!-- F8 --}}
            <div class="form-check m-0"><small>F8</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="F8" name="seats" value="F8">
                    <label class="custom-control-label" for="F8"></label>
                  </div>
              </div>      

            {{!-- F9 --}}
            <div class="form-check m-0"><small>F9</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="F9" name="seats" value="F9">
                    <label class="custom-control-label" for="F9"></label>
                  </div>
              </div>    

            {{!-- F10 --}}
            <div class="form-check m-0"><small>F10</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="F10" name="seats" value="F10">
                    <label class="custom-control-label" for="F10"></label>
                  </div>
              </div> 
            
            {{!-- F11 --}}
            <div class="form-check m-0"><small>F11</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="F11" name="seats" value="F11">
                    <label class="custom-control-label" for="F11"></label>
                  </div>
              </div>     

            {{!-- F12 --}}
            <div class="form-check m-0"><small>F12</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="F12" name="seats" value="F12">
                    <label class="custom-control-label" for="F12"></label>
                  </div>
              </div>

            {{!-- F13 --}}
            <div class="form-check m-0"><small>F13</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="F13" name="seats" value="F13">
                    <label class="custom-control-label" for="F13"></label>
                  </div>
              </div>     

            {{!-- F14 --}}
            <div class="form-check m-0"><small>F14</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="F14" name="seats" value="F14">
                    <label class="custom-control-label" for="F14"></label>
                  </div>
              </div>     

            {{!-- F15 --}}
            <div class="form-check m-0"><small>F15</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="F15" name="seats" value="F15">
                    <label class="custom-control-label" for="F15"></label>
                  </div>
              </div>           
        </div>
          </div>
          
          <!-- END OF F -->

           <!-- G -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"> <b style="padding-left: 34px; padding-right:10px;">G</b> &nbsp; &nbsp;
             <!-- G1 -->
            <div class="form-check m-0"><small>G1</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="G1" name="seats" value="G1">
                    <label class="custom-control-label" for="G1"></label>
                  </div>
              </div>

            {{!-- G2 --}}
            <div class="form-check m-0"><small>G2</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="G2" name="seats" value="G2">
                    <label class="custom-control-label" for="G2"></label>
                  </div>
              </div>

            {{!-- G3 --}}
            <div class="form-check m-0"><small>G3</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="G3" name="seats" value="G3">
                    <label class="custom-control-label" for="G3"></label>
                  </div>
              </div>

            {{!-- G4 --}}
            <div class="form-check m-0"><small>G4</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="G4" name="seats" value="G4">
                    <label class="custom-control-label" for="G4"></label>
                  </div>
              </div>

            {{!-- G5 --}}
            <div class="form-check m-0"><small>G5</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="G5" name="seats" value="G5">
                    <label class="custom-control-label" for="G5"></label>
                  </div>
              </div>

            {{!-- G6 --}}
            <div class="form-check m-0"><small>G6</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="G6" name="seats" value="G6">
                    <label class="custom-control-label" for="G6"></label>
                  </div>
              </div>

            {{!-- G7 --}}
            <div class="form-check m-0"><small>G7</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="G7" name="seats" value="G7">
                    <label class="custom-control-label" for="G7"></label>
                  </div>
              </div>     

            {{!-- G8 --}}
            <div class="form-check m-0"><small>G8</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="G8" name="seats" value="G8">
                    <label class="custom-control-label" for="G8"></label>
                  </div>
              </div>      

            {{!-- G9 --}}
            <div class="form-check m-0"><small>G9</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="G9" name="seats" value="G9">
                    <label class="custom-control-label" for="G9"></label>
                  </div>
              </div>    

            {{!-- G10 --}}
            <div class="form-check m-0"><small>G10</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="G10" name="seats" value="G10">
                    <label class="custom-control-label" for="G10"></label>
                  </div>
              </div> 
            
            {{!-- G11 --}}
            <div class="form-check m-0"><small>G11</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="G11" name="seats" value="G11">
                    <label class="custom-control-label" for="G11"></label>
                  </div>
              </div>     

            {{!-- G12 --}}
            <div class="form-check m-0"><small>G12</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="G12" name="seats" value="G12">
                    <label class="custom-control-label" for="G12"></label>
                  </div>
              </div>

            {{!-- G13 --}}
            <div class="form-check m-0"><small>G13</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="G13" name="seats" value="G13">
                    <label class="custom-control-label" for="G13"></label>
                  </div>
              </div>     

            {{!-- G14 --}}
            <div class="form-check m-0"><small>G14</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="G14" name="seats" value="G14">
                    <label class="custom-control-label" for="G14"></label>
                  </div>
              </div>     

            {{!-- G15 --}}
            <div class="form-check m-0"><small>G15</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="G15" name="seats" value="G15">
                    <label class="custom-control-label" for="G15"></label>
                  </div>
              </div>           
        </div>
          </div>
          
          <!-- END OF G -->

           <!-- H -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"> <b style="padding-left: 42px; padding-right:10px;">H</b> &nbsp; &nbsp;
             <!-- H1 -->
            <div class="form-check m-0"><small>H1</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="H1" name="seats" value="H1">
                    <label class="custom-control-label" for="H1"></label>
                  </div>
              </div>

            {{!-- H2 --}}
            <div class="form-check m-0"><small>H2</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="H2" name="seats" value="H2">
                    <label class="custom-control-label" for="H2"></label>
                  </div>
              </div>

            {{!-- H3 --}}
            <div class="form-check m-0"><small>H3</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="H3" name="seats" value="H3">
                    <label class="custom-control-label" for="H3"></label>
                  </div>
              </div>

            {{!-- H4 --}}
            <div class="form-check m-0"><small>H4</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="H4" name="seats" value="H4">
                    <label class="custom-control-label" for="H4"></label>
                  </div>
              </div>

            {{!-- H5 --}}
            <div class="form-check m-0"><small>H5</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="H5" name="seats" value="H5">
                    <label class="custom-control-label" for="H5"></label>
                  </div>
              </div>

            {{!-- H6 --}}
            <div class="form-check m-0"><small>H6</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="H6" name="seats" value="H6">
                    <label class="custom-control-label" for="H6"></label>
                  </div>
              </div>

            {{!-- H7 --}}
            <div class="form-check m-0"><small>H7</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="H7" name="seats" value="H7">
                    <label class="custom-control-label" for="H7"></label>
                  </div>
              </div>     

            {{!-- H8 --}}
            <div class="form-check m-0"><small>H8</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="H8" name="seats" value="H8">
                    <label class="custom-control-label" for="H8"></label>
                  </div>
              </div>      

            {{!-- H9 --}}
            <div class="form-check m-0"><small>H9</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="H9" name="seats" value="H9">
                    <label class="custom-control-label" for="H9"></label>
                  </div>
              </div>    

            {{!-- H10 --}}
            <div class="form-check m-0"><small>H10</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="H10" name="seats" value="H10">
                    <label class="custom-control-label" for="H10"></label>
                  </div>
              </div> 
            
            {{!-- H11 --}}
            <div class="form-check m-0"><small>H11</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="H11" name="seats" value="H11">
                    <label class="custom-control-label" for="H11"></label>
                  </div>
              </div>     

            {{!-- H12 --}}
            <div class="form-check m-0"><small>H12</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="H12" name="seats" value="H12">
                    <label class="custom-control-label" for="H12"></label>
                  </div>
              </div>

            {{!-- H13 --}}
            <div class="form-check m-0"><small>H13</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="H13" name="seats" value="H13">
                    <label class="custom-control-label" for="H13"></label>
                  </div>
              </div>     

            {{!-- H14 --}}
            <div class="form-check m-0"><small>H14</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="H14" name="seats" value="H14">
                    <label class="custom-control-label" for="H14"></label>
                  </div>
              </div>     

            {{!-- H15 --}}
            <div class="form-check m-0"><small>H15</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="H15" name="seats" value="H15">
                    <label class="custom-control-label" for="H15"></label>
                  </div>
              </div>           
        </div>
          </div> <br>
          
          <!-- END OF H -->

           <!-- I -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"> <b style="padding-left: 0px; padding-right:10px;">I</b> &nbsp; &nbsp;
             <!-- I1 -->
            <div class="form-check m-0"><small>I1</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="I1" name="seats" value="I1">
                    <label class="custom-control-label" for="I1"></label>
                  </div>
              </div>

            {{!-- I2 --}}
            <div class="form-check m-0"><small>I2</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="I2" name="seats" value="I2">
                    <label class="custom-control-label" for="I2"></label>
                  </div>
              </div>

            {{!-- I3 --}}
            <div class="form-check m-0"><small>I3</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="I3" name="seats" value="I3">
                    <label class="custom-control-label" for="I3"></label>
                  </div>
              </div>

            {{!-- I4 --}}
            <div class="form-check m-0"><small>I4</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="I4" name="seats" value="I4">
                    <label class="custom-control-label" for="I4"></label>
                  </div>
              </div>

            {{!-- I5 --}}
            <div class="form-check m-0"><small>I5</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="I5" name="seats" value="I5">
                    <label class="custom-control-label" for="I5"></label>
                  </div>
              </div>

            {{!-- I6 --}}
            <div class="form-check m-0"><small>I6</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="I6" name="seats" value="I6">
                    <label class="custom-control-label" for="I6"></label>
                  </div>
              </div>

            {{!-- I7 --}}
            <div class="form-check m-0"><small>I7</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="I7" name="seats" value="I7">
                    <label class="custom-control-label" for="I7"></label>
                  </div>
              </div>     

            {{!-- I8 --}}
            <div class="form-check m-0"><small>I8</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="I8" name="seats" value="I8">
                    <label class="custom-control-label" for="I8"></label>
                  </div>
              </div>      

            {{!-- I9 --}}
            <div class="form-check m-0"><small>I9</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="I9" name="seats" value="I9">
                    <label class="custom-control-label" for="I9"></label>
                  </div>
              </div>    

            {{!-- I10 --}}
            <div class="form-check m-0"><small>I10</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="I10" name="seats" value="I10">
                    <label class="custom-control-label" for="I10"></label>
                  </div>
              </div> 
            
            {{!-- I11 --}}
            <div class="form-check m-0"><small>I11</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="I11" name="seats" value="I11">
                    <label class="custom-control-label" for="I11"></label>
                  </div>
              </div>     

            {{!-- I12 --}}
            <div class="form-check m-0"><small>I12</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="I12" name="seats" value="I12">
                    <label class="custom-control-label" for="I12"></label>
                  </div>
              </div>

            {{!-- I13 --}}
            <div class="form-check m-0"><small>I13</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="I13" name="seats" value="I13">
                    <label class="custom-control-label" for="I13"></label>
                  </div>
              </div>     

            {{!-- I14 --}}
            <div class="form-check m-0"><small>I14</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="I14" name="seats" value="I14">
                    <label class="custom-control-label" for="I14"></label>
                  </div>
              </div>     

            {{!-- I15 --}}
            <div class="form-check m-0"><small>I15</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="I15" name="seats" value="I15">
                    <label class="custom-control-label" for="I15"></label>
                  </div>
              </div>           
        </div>
          </div>
          
          <!-- END OF I -->

           <!-- J -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"> <b style="padding-left: 15px; padding-right:10px;">J</b> &nbsp; &nbsp;
             <!-- J1 -->
            <div class="form-check m-0"><small>J1</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="J1" name="seats" value="J1">
                    <label class="custom-control-label" for="J1"></label>
                  </div>
              </div>

            {{!-- J2 --}}
            <div class="form-check m-0"><small>J2</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="J2" name="seats" value="J2">
                    <label class="custom-control-label" for="J2"></label>
                  </div>
              </div>

            {{!-- J3 --}}
            <div class="form-check m-0"><small>J3</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="J3" name="seats" value="J3">
                    <label class="custom-control-label" for="J3"></label>
                  </div>
              </div>

            {{!-- J4 --}}
            <div class="form-check m-0"><small>J4</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="J4" name="seats" value="J4">
                    <label class="custom-control-label" for="J4"></label>
                  </div>
              </div>

            {{!-- J5 --}}
            <div class="form-check m-0"><small>J5</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="J5" name="seats" value="J5">
                    <label class="custom-control-label" for="J5"></label>
                  </div>
              </div>

            {{!-- J6 --}}
            <div class="form-check m-0"><small>J6</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="J6" name="seats" value="J6">
                    <label class="custom-control-label" for="J6"></label>
                  </div>
              </div>

            {{!-- J7 --}}
            <div class="form-check m-0"><small>J7</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="J7" name="seats" value="J7">
                    <label class="custom-control-label" for="J7"></label>
                  </div>
              </div>     

            {{!-- J8 --}}
            <div class="form-check m-0"><small>J8</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="J8" name="seats" value="J8">
                    <label class="custom-control-label" for="J8"></label>
                  </div>
              </div>      

            {{!-- J9 --}}
            <div class="form-check m-0"><small>J9</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="J9" name="seats" value="J9">
                    <label class="custom-control-label" for="J9"></label>
                  </div>
              </div>    

            {{!-- J10 --}}
            <div class="form-check m-0"><small>J10</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="J10" name="seats" value="J10">
                    <label class="custom-control-label" for="J10"></label>
                  </div>
              </div> 
            
            {{!-- J11 --}}
            <div class="form-check m-0"><small>J11</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="J11" name="seats" value="J11">
                    <label class="custom-control-label" for="J11"></label>
                  </div>
              </div>     

            {{!-- J12 --}}
            <div class="form-check m-0"><small>J12</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="J12" name="seats" value="J12">
                    <label class="custom-control-label" for="J12"></label>
                  </div>
              </div>

            {{!-- J13 --}}
            <div class="form-check m-0"><small>J13</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="J13" name="seats" value="J13">
                    <label class="custom-control-label" for="J13"></label>
                  </div>
              </div>     

            {{!-- J14 --}}
            <div class="form-check m-0"><small>J14</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="J14" name="seats" value="J14">
                    <label class="custom-control-label" for="J14"></label>
                  </div>
              </div>     

               {{!-- J15 --}}
            <div class="form-check m-0"><small>J15</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id="J15" name="seats" value="J15">
                    <label class="custom-control-label" for="J15"></label>
                  </div>
              </div>    

        
                 
        </div>
          </div>
          
          <!-- END OF J -->

           <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold; padding-top: 50px;">

            <div class="custom-control custom-checkbox mb-3"> 
              <input type="checkbox" class="custom-control-input res" id="res" name="example1" disabled>
              <label class="custom-control-label" for="res" style="color: black;"> Reserved</label>
            </div>

            <div class="custom-control custom-checkbox mb-3" style="padding-left: 50px;">
              <input type="checkbox" class="custom-control-input avail" id="avail" name="example2" style="background-color: white" disabled>
              <label class="custom-control-label" for="avail" style="color:black;">Available</label>
            </div>

            </div> 
 
  <br>  <button type="submit" id="reserve" class="btn btn-custom reserve" style="margin-top: 50px; margin-bottom:40px;">Reserve</button>


    </form>
    </div>
</center>