{{!< layout}}

<div class="container" style="padding-bottom: 50px;">
    <div class="jumbotron jumbo">
        <center><h1>{{movieTitle}}</h1></center>
        <center>
            <p>Cinema {{cinema}}</p>
            <p> {{details}}</p>
          
            
            <br>
            <form class="movieform" method="POST" action={{post_url}} onChange="this.form.submit()">
            <div class="row justify-content-center m-auto">
            <!-- SELECT DATE -->
            <div class="dropdown">
                <select type="button" class="btn btn-custom dropdown-toggle v2 mr-3" data-toggle="dropdown" name="datepicker">
               
                        <option name="dates1">{{date}}</option>
                        {{!-- <option name="dates2">{{dates.[1]}}</option>
                        <option name="dates3">{{dates.[2]}}</option>
                        <option name="dates4">{{dates.[3]}}</option>
                        <option name="dates5">{{dates.[4]}}</option> --}}
                       
                      </select>
                  </div>
                  
                  <!-- SELECT TIME -->
                  <div class="dropdown">
                    <select type="button" class="btn btn-custom dropdown-toggle v2" data-toggle="dropdown" name="timepicker" 
                      onchange="location = this.value;">
               
                            <option name="timeslots1" value={{reserve1}}>{{timeslot}}</option>
                            <option name="timeslots2" value={{reserve2}}>{{timeslot2}}</option>
                            <option name="timeslots3" value={{reserve3}}>{{timeslot3}}</option>
                            <option name="timeslots4" value={{reserve4}}>{{timeslot4}}</option>
                          </select>
                      </div>
        </center>
    </div>   
  </div>

    <center>
    <div class="container seatselection" style="margin-bottom: 200px;">
        <br> <br><h1 style="color: black; font-weight:bold; width:fit-content">MOVIE SCREEN HERE</h1><br>
        
        
        <!-- A -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"><b style="padding-right: 10px;">A</b>
             <!-- A1 -->
            <div class="form-check m-0"><small>{{generatedSeatNumber.[0]}}</small> &nbsp;
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[0]}} name="seats" 
                      value={{generatedSeatNumber.[0]}} pattern={{seatNumber0}} {{checkReserved generatedSeatNumber.[0] seatNumber0 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[0]}}></label>
                  </div>
              </div>

            {{!-- A2 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[1]}}</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[1]}} name="seats" 
                      value={{generatedSeatNumber.[1]}} pattern={{seatNumber1}} {{checkReserved generatedSeatNumber.[1] seatNumber1 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[1]}}></label>
                  </div>
              </div>

            {{!-- A3 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[2]}}</small> &nbsp;
                    
                  <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[2]}} name="seats" 
                      value={{generatedSeatNumber.[2]}} pattern={{seatNumber2}} {{checkReserved generatedSeatNumber.[2] seatNumber2 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[2]}}></label>
                  </div>
              </div>

            {{!-- A4 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[3]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[3]}} name="seats" 
                      value={{generatedSeatNumber.[3]}} pattern={{seatNumber3}} {{checkReserved generatedSeatNumber.[3] seatNumber3 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[3]}}></label>
                  </div>
              </div>

            {{!-- A5 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[4]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[4]}} name="seats" 
                      value={{generatedSeatNumber.[4]}} pattern={{seatNumber4}} {{checkReserved generatedSeatNumber.[4] seatNumber4 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[4]}}></label>
                  </div>
              </div>

            {{!-- A6 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[5]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[5]}} name="seats" 
                      value={{generatedSeatNumber.[5]}} pattern={{seatNumber5}} {{checkReserved generatedSeatNumber.[5] seatNumber5 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[5]}}></label>
                  </div>
              </div>

            {{!-- A7 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[6]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[6]}} name="seats" 
                      value={{generatedSeatNumber.[6]}} pattern={{seatNumber6}} {{checkReserved generatedSeatNumber.[6] seatNumber6 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[6]}}></label>
                  </div>
              </div>     

            {{!-- A8 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[7]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[7]}} name="seats" 
                      value={{generatedSeatNumber.[7]}} pattern={{seatNumber7}} {{checkReserved generatedSeatNumber.[7] seatNumber7 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[7]}}></label>
                  </div>
              </div>

            {{!-- A9 --}}
           <div class="form-check m-0"><small>{{generatedSeatNumber.[8]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[8]}} name="seats" 
                      value={{generatedSeatNumber.[8]}} pattern={{seatNumber8}} {{checkReserved generatedSeatNumber.[8] seatNumber8 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[8]}}></label>
                  </div>
              </div>

            {{!-- A10 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[9]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[9]}} name="seats" 
                      value={{generatedSeatNumber.[9]}} pattern={{seatNumber9}} {{checkReserved generatedSeatNumber.[9] seatNumber9 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[9]}}></label>
                  </div>
              </div>
            
            {{!-- A11 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[10]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[10]}} name="seats" 
                      value={{generatedSeatNumber.[10]}} pattern={{seatNumber10}} {{checkReserved generatedSeatNumber.[10] seatNumber10 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[10]}}></label>
                  </div>
              </div>

            {{!-- A12 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[11]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[11]}} name="seats" 
                      value={{generatedSeatNumber.[11]}} pattern={{seatNumber11}} {{checkReserved generatedSeatNumber.[11] seatNumber11 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[11]}}></label>
                  </div>
              </div>

            {{!-- A13 --}}
           <div class="form-check m-0"><small>{{generatedSeatNumber.[12]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[12]}} name="seats" 
                      value={{generatedSeatNumber.[12]}} pattern={{seatNumber12}} {{checkReserved generatedSeatNumber.[12] seatNumber12 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[12]}}></label>
                  </div>
              </div>

            {{!-- A14 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[13]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[13]}} name="seats" 
                      value={{generatedSeatNumber.[13]}} pattern={{seatNumber13}} {{checkReserved generatedSeatNumber.[13] seatNumber13 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[13]}}></label>
                  </div>
              </div> 

            {{!-- A15 --}}
           <div class="form-check m-0"><small>{{generatedSeatNumber.[14]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[14]}} name="seats" 
                      value={{generatedSeatNumber.[14]}} pattern={{seatNumber14}} {{checkReserved generatedSeatNumber.[14] seatNumber14 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[14]}}></label>
                  </div>
              </div>    
        </div>
          </div>
          
          <!-- END OF A -->

           <!-- B -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"><b style="padding-left: 10px; padding-right:10px">B</b> 
             <!-- B1 -->
            <div class="form-check m-0"><small>{{generatedSeatNumber.[15]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[15]}} name="seats" 
                      value={{generatedSeatNumber.[15]}} pattern={{seatNumber15}} {{checkReserved generatedSeatNumber.[15] seatNumber15 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[15]}}></label>
                  </div>
              </div>

            {{!-- B2 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[16]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[16]}} name="seats" 
                      value={{generatedSeatNumber.[16]}} pattern={{seatNumber16}} {{checkReserved generatedSeatNumber.[16] seatNumber16 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[16]}}></label>
                  </div>
              </div>

            {{!-- B3 --}}
           <div class="form-check m-0"><small>{{generatedSeatNumber.[17]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[17]}} name="seats" 
                      value={{generatedSeatNumber.[17]}} pattern={{seatNumber17}} {{checkReserved generatedSeatNumber.[17] seatNumber17 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[17]}}></label>
                  </div>
              </div>

            {{!-- B4 --}}
           <div class="form-check m-0"><small>{{generatedSeatNumber.[18]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[18]}} name="seats" 
                      value={{generatedSeatNumber.[18]}} pattern={{seatNumber18}} {{checkReserved generatedSeatNumber.[18] seatNumber18 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[18]}}></label>
                  </div>
              </div>

            {{!-- B5 --}}
           <div class="form-check m-0"><small>{{generatedSeatNumber.[19]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[19]}} name="seats" 
                      value={{generatedSeatNumber.[19]}} pattern={{seatNumber19}} {{checkReserved generatedSeatNumber.[19] seatNumber19 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[19]}}></label>
                  </div>
              </div>

            {{!-- B6 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[20]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[20]}} name="seats" 
                      value={{generatedSeatNumber.[20]}} pattern={{seatNumber20}} {{checkReserved generatedSeatNumber.[20] seatNumber20 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[20]}}></label>
                  </div>
              </div>

            {{!-- B7 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[21]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[21]}} name="seats" 
                      value={{generatedSeatNumber.[21]}} pattern={{seatNumber21}} {{checkReserved generatedSeatNumber.[21] seatNumber21 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[21]}}></label>
                  </div>
              </div>

            {{!-- B8 --}}
           <div class="form-check m-0"><small>{{generatedSeatNumber.[22]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[22]}} name="seats" 
                      value={{generatedSeatNumber.[22]}} pattern={{seatNumber22}} {{checkReserved generatedSeatNumber.[22] seatNumber22 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[22]}}></label>
                  </div>
              </div>

            {{!-- B9 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[23]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[23]}} name="seats" 
                      value={{generatedSeatNumber.[23]}} pattern={{seatNumber23}} {{checkReserved generatedSeatNumber.[23] seatNumber23 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[23]}}></label>
                  </div>
              </div>

            {{!-- B10 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[24]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[24]}} name="seats" 
                      value={{generatedSeatNumber.[24]}} pattern={{seatNumber24}} {{checkReserved generatedSeatNumber.[24] seatNumber24 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[24]}}></label>
                  </div>
              </div>
            
            {{!-- B11 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[25]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[25]}} name="seats" 
                      value={{generatedSeatNumber.[25]}} pattern={{seatNumber25}} {{checkReserved generatedSeatNumber.[25] seatNumber25 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[25]}}></label>
                  </div>
              </div>

            {{!-- B12 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[26]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[26]}} name="seats" 
                      value={{generatedSeatNumber.[26]}} pattern={{seatNumber26}} {{checkReserved generatedSeatNumber.[26] seatNumber26 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[26]}}></label>
                  </div>
              </div>


            {{!-- B13 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[27]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[27]}} name="seats" 
                      value={{generatedSeatNumber.[27]}} pattern={{seatNumber27}} {{checkReserved generatedSeatNumber.[27] seatNumber27 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[27]}}></label>
                  </div>
              </div>
  

            {{!-- B14 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[28]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[28]}} name="seats" 
                      value={{generatedSeatNumber.[28]}} pattern={{seatNumber28}} {{checkReserved generatedSeatNumber.[28] seatNumber28 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[28]}}></label>
                  </div>
              </div>

            {{!-- B15 --}}
         <div class="form-check m-0"><small>{{generatedSeatNumber.[29]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[29]}} name="seats" 
                      value={{generatedSeatNumber.[29]}} pattern={{seatNumber29}} {{checkReserved generatedSeatNumber.[29] seatNumber29 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[29]}}></label>
                  </div>
              </div>        
        </div>
          </div>
          
          <!-- END OF B -->

           <!-- C -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"><b style="padding-left: 5px; padding-right:10px;">C</b>
             <!-- C1 -->
            <div class="form-check m-0"><small>{{generatedSeatNumber.[30]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[30]}} name="seats" 
                      value={{generatedSeatNumber.[30]}} pattern={{seatNumber30}} {{checkReserved generatedSeatNumber.[30] seatNumber30 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[30]}}></label>
                  </div>
              </div>     

            {{!-- C2 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[31]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[31]}} name="seats" 
                      value={{generatedSeatNumber.[31]}} pattern={{seatNumber31}} {{checkReserved generatedSeatNumber.[31] seatNumber31 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[31]}}></label>
                  </div>
              </div>     

            {{!-- C3 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[32]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[32]}} name="seats" 
                      value={{generatedSeatNumber.[32]}} pattern={{seatNumber32}} {{checkReserved generatedSeatNumber.[32] seatNumber32 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[32]}}></label>
                  </div>
              </div>     

            {{!-- C4 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[33]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[33]}} name="seats" 
                      value={{generatedSeatNumber.[33]}} pattern={{seatNumber33}} {{checkReserved generatedSeatNumber.[33] seatNumber33 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[33]}}></label>
                  </div>
              </div>     

            {{!-- C5 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[34]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[34]}} name="seats" 
                      value={{generatedSeatNumber.[34]}} pattern={{seatNumber34}} {{checkReserved generatedSeatNumber.[34] seatNumber34 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[34]}}></label>
                  </div>
              </div>    

            {{!-- C6 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[35]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[35]}} name="seats" 
                      value={{generatedSeatNumber.[35]}} pattern={{seatNumber35}} {{checkReserved generatedSeatNumber.[35] seatNumber35 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[35]}}></label>
                  </div>
              </div>    

            {{!-- C7 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[36]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[36]}} name="seats" 
                      value={{generatedSeatNumber.[36]}} pattern={{seatNumber36}} {{checkReserved generatedSeatNumber.[36] seatNumber36 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[36]}}></label>
                  </div>
              </div>      

            {{!-- C8 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[37]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[37]}} name="seats" 
                      value={{generatedSeatNumber.[37]}} pattern={{seatNumber37}} {{checkReserved generatedSeatNumber.[37] seatNumber37 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[37]}}></label>
                  </div>
              </div>      

            {{!-- C9 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[38]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[38]}} name="seats" 
                      value={{generatedSeatNumber.[38]}} pattern={{seatNumber38}} {{checkReserved generatedSeatNumber.[38] seatNumber38 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[38]}}></label>
                  </div>
              </div>    

            {{!-- C10 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[39]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[39]}} name="seats" 
                      value={{generatedSeatNumber.[39]}} pattern={{seatNumber39}} {{checkReserved generatedSeatNumber.[39] seatNumber39 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[39]}}></label>
                  </div>
              </div>    
            
            {{!-- C11 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[40]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[40]}} name="seats" 
                      value={{generatedSeatNumber.[40]}} pattern={{seatNumber40}} {{checkReserved generatedSeatNumber.[40] seatNumber40 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[40]}}></label>
                  </div>
              </div>    

            {{!-- C12 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[41]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[41]}} name="seats" 
                      value={{generatedSeatNumber.[41]}} pattern={{seatNumber41}} {{checkReserved generatedSeatNumber.[41] seatNumber41 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[41]}}></label>
                  </div>
              </div>    

            {{!-- C13 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[42]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[42]}} name="seats" 
                      value={{generatedSeatNumber.[42]}} pattern={{seatNumber42}} {{checkReserved generatedSeatNumber.[42] seatNumber42 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[42]}}></label>
                  </div>
              </div>     

            {{!-- C14 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[43]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[43]}} name="seats" 
                      value={{generatedSeatNumber.[43]}} pattern={{seatNumber43}} {{checkReserved generatedSeatNumber.[43] seatNumber43 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[43]}}></label>
                  </div>
              </div>     

            {{!-- C15 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[44]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[44]}} name="seats" 
                      value={{generatedSeatNumber.[44]}} pattern={{seatNumber44}} {{checkReserved generatedSeatNumber.[44] seatNumber44 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[44]}}></label>
                  </div>
              </div>           
        </div>
          </div>
          
          <!-- END OF C -->

           <!-- D -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"><b style="padding-left: 25px; padding-right:10px;">D</b>
             <!-- D1 -->
           <div class="form-check m-0"><small>{{generatedSeatNumber.[45]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[45]}} name="seats" 
                      value={{generatedSeatNumber.[45]}} pattern={{seatNumber45}} {{checkReserved generatedSeatNumber.[45] seatNumber45 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[45]}}></label>
                  </div>
              </div>    

            {{!-- D2 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[46]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[46]}} name="seats" 
                      value={{generatedSeatNumber.[46]}} pattern={{seatNumber46}} {{checkReserved generatedSeatNumber.[46] seatNumber46 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[46]}}></label>
                  </div>
              </div>    

            {{!-- D3 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[47]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[47]}} name="seats" 
                      value={{generatedSeatNumber.[47]}} pattern={{seatNumber47}} {{checkReserved generatedSeatNumber.[47] seatNumber47 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[47]}}></label>
                  </div>
              </div>    

            {{!-- D4 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[48]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[48]}} name="seats" 
                      value={{generatedSeatNumber.[48]}} pattern={{seatNumber48}} {{checkReserved generatedSeatNumber.[48] seatNumber48 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[48]}}></label>
                  </div>
              </div>    

            {{!-- D5 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[49]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[49]}} name="seats" 
                      value={{generatedSeatNumber.[49]}} pattern={{seatNumber49}} {{checkReserved generatedSeatNumber.[49] seatNumber49 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[49]}}></label>
                  </div>
              </div>    

            {{!-- D6 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[50]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[50]}} name="seats" 
                      value={{generatedSeatNumber.[50]}} pattern={{seatNumber50}} {{checkReserved generatedSeatNumber.[50] seatNumber50 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[50]}}></label>
                  </div>
              </div>    

            {{!-- D7 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[51]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[51]}} name="seats" 
                      value={{generatedSeatNumber.[51]}} pattern={{seatNumber51}} {{checkReserved generatedSeatNumber.[51] seatNumber51 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[51]}}></label>
                  </div>
              </div>     

            {{!-- D8 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[52]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[52]}} name="seats" 
                      value={{generatedSeatNumber.[52]}} pattern={{seatNumber52}} {{checkReserved generatedSeatNumber.[52] seatNumber52 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[52]}}></label>
                  </div>
              </div>       

            {{!-- D9 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[53]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[53]}} name="seats" 
                      value={{generatedSeatNumber.[53]}} pattern={{seatNumber53}} {{checkReserved generatedSeatNumber.[53] seatNumber53 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[53]}}></label>
                  </div>
              </div>    

            {{!-- D10 --}}
           <div class="form-check m-0"><small>{{generatedSeatNumber.[54]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[54]}} name="seats" 
                      value={{generatedSeatNumber.[54]}} pattern={{seatNumber54}} {{checkReserved generatedSeatNumber.[54] seatNumber54 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[54]}}></label>
                  </div>
              </div>    
            
            {{!-- D11 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[55]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[55]}} name="seats" 
                      value={{generatedSeatNumber.[55]}} pattern={{seatNumber55}} {{checkReserved generatedSeatNumber.[55] seatNumber55 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[55]}}></label>
                  </div>
              </div>    

            {{!-- D12 --}}
           <div class="form-check m-0"><small>{{generatedSeatNumber.[56]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[56]}} name="seats" 
                      value={{generatedSeatNumber.[56]}} pattern={{seatNumber56}} {{checkReserved generatedSeatNumber.[56] seatNumber56 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[56]}}></label>
                  </div>
              </div>    

            {{!-- D13 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[57]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[57]}} name="seats" 
                      value={{generatedSeatNumber.[57]}} pattern={{seatNumber57}} {{checkReserved generatedSeatNumber.[57] seatNumber57 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[57]}}></label>
                  </div>
              </div>     

            {{!-- D14 --}}
           <div class="form-check m-0"><small>{{generatedSeatNumber.[58]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[58]}} name="seats" 
                      value={{generatedSeatNumber.[58]}} pattern={{seatNumber58}} {{checkReserved generatedSeatNumber.[58] seatNumber58 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[58]}}></label>
                  </div>
              </div>    

            {{!-- D15 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[59]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[59]}} name="seats" 
                      value={{generatedSeatNumber.[59]}} pattern={{seatNumber59}} {{checkReserved generatedSeatNumber.[59] seatNumber59 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[59]}}></label>
                  </div>
              </div>        
        </div>
          </div>
          
          <!-- END OF D -->

           <!-- E -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"><b style="padding-left: 3px; padding-right:15px;">E</b>
             <!-- E1 -->
            <div class="form-check m-0"><small>{{generatedSeatNumber.[60]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[60]}} name="seats" 
                      value={{generatedSeatNumber.[60]}} pattern={{seatNumber60}} {{checkReserved generatedSeatNumber.[60] seatNumber60 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[60]}}></label>
                  </div>
              </div>    

            {{!-- E2 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[61]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[61]}} name="seats" 
                      value={{generatedSeatNumber.[61]}} pattern={{seatNumber61}} {{checkReserved generatedSeatNumber.[61] seatNumber61 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[61]}}></label>
                  </div>
              </div>    

            {{!-- E3 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[62]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[62]}} name="seats" 
                      value={{generatedSeatNumber.[62]}} pattern={{seatNumber62}} {{checkReserved generatedSeatNumber.[62] seatNumber62 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[62]}}></label>
                  </div>
              </div>    

            {{!-- E4 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[63]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[63]}} name="seats" 
                      value={{generatedSeatNumber.[63]}} pattern={{seatNumber63}} {{checkReserved generatedSeatNumber.[63] seatNumber63 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[63]}}></label>
                  </div>
              </div>    

            {{!-- E5 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[64]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[64]}} name="seats" 
                      value={{generatedSeatNumber.[64]}} pattern={{seatNumber64}} {{checkReserved generatedSeatNumber.[64] seatNumber64 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[64]}}></label>
                  </div>
              </div>    

            {{!-- E6 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[65]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[65]}} name="seats" 
                      value={{generatedSeatNumber.[65]}} pattern={{seatNumber65}} {{checkReserved generatedSeatNumber.[65] seatNumber65 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[65]}}></label>
                  </div>
              </div>    

            {{!-- E7 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[66]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[66]}} name="seats" 
                      value={{generatedSeatNumber.[66]}} pattern={{seatNumber66}} {{checkReserved generatedSeatNumber.[66] seatNumber66 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[66]}}></label>
                  </div>
              </div>   

            {{!-- E8 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[67]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[67]}} name="seats" 
                      value={{generatedSeatNumber.[67]}} pattern={{seatNumber67}} {{checkReserved generatedSeatNumber.[67] seatNumber67 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[67]}}></label>
                  </div>
              </div>

            {{!-- E9 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[68]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[68]}} name="seats" 
                      value={{generatedSeatNumber.[68]}} pattern={{seatNumber68}} {{checkReserved generatedSeatNumber.[68] seatNumber68 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[68]}}></label>
                  </div>
              </div>

            {{!-- E10 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[69]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[69]}} name="seats" 
                      value={{generatedSeatNumber.[69]}} pattern={{seatNumber69}} {{checkReserved generatedSeatNumber.[69] seatNumber69 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[69]}}></label>
                  </div>
              </div>
            
            {{!-- E11 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[70]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[70]}} name="seats" 
                      value={{generatedSeatNumber.[70]}} pattern={{seatNumber70}} {{checkReserved generatedSeatNumber.[70] seatNumber70 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[70]}}></label>
                  </div>
              </div>

            {{!-- E12 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[71]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[71]}} name="seats" 
                      value={{generatedSeatNumber.[71]}} pattern={{seatNumber71}} {{checkReserved generatedSeatNumber.[71] seatNumber71 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[71]}}></label>
                  </div>
              </div>

            {{!-- E13 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[72]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[72]}} name="seats" 
                      value={{generatedSeatNumber.[72]}} pattern={{seatNumber72}} {{checkReserved generatedSeatNumber.[72] seatNumber72 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[72]}}></label>
                  </div>
              </div>

            {{!-- E14 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[73]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[73]}} name="seats" 
                      value={{generatedSeatNumber.[73]}} pattern={{seatNumber73}} {{checkReserved generatedSeatNumber.[73] seatNumber73 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[73]}}></label>
                  </div>
              </div>

            {{!-- E15 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[74]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[74]}} name="seats" 
                      value={{generatedSeatNumber.[74]}} pattern={{seatNumber74}} {{checkReserved generatedSeatNumber.[74] seatNumber74 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[74]}}></label>
                  </div>
              </div> 
        </div>
          </div>
          
          <!-- END OF E -->

           <!-- F -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"> <b style="padding-left: 7px; padding-right:10px;">F</b> &nbsp; &nbsp;
             <!-- F1 -->
            <div class="form-check m-0"><small>{{generatedSeatNumber.[75]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[75]}} name="seats" 
                      value={{generatedSeatNumber.[75]}} pattern={{seatNumber75}} {{checkReserved generatedSeatNumber.[75] seatNumber75 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[75]}}></label>
                  </div>
              </div>

            {{!-- F2 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[76]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[76]}} name="seats" 
                      value={{generatedSeatNumber.[76]}} pattern={{seatNumber76}} {{checkReserved generatedSeatNumber.[76] seatNumber76 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[76]}}></label>
                  </div>
              </div>

            {{!-- F3 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[77]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[77]}} name="seats" 
                      value={{generatedSeatNumber.[77]}} pattern={{seatNumber77}} {{checkReserved generatedSeatNumber.[77] seatNumber77 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[77]}}></label>
                  </div>
              </div>

            {{!-- F4 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[78]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[78]}} name="seats" 
                      value={{generatedSeatNumber.[78]}} pattern={{seatNumber78}} {{checkReserved generatedSeatNumber.[78] seatNumber78 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[78]}}></label>
                  </div>
              </div>

            {{!-- F5 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[79]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[79]}} name="seats" 
                      value={{generatedSeatNumber.[79]}} pattern={{seatNumber79}} {{checkReserved generatedSeatNumber.[79] seatNumber79 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[79]}}></label>
                  </div>
              </div>

            {{!-- F6 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[80]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[80]}} name="seats" 
                      value={{generatedSeatNumber.[80]}} pattern={{seatNumber80}} {{checkReserved generatedSeatNumber.[80] seatNumber80 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[80]}}></label>
                  </div>
              </div>

            {{!-- F7 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[81]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[81]}} name="seats" 
                      value={{generatedSeatNumber.[81]}} pattern={{seatNumber81}} {{checkReserved generatedSeatNumber.[81] seatNumber81 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[81]}}></label>
                  </div>
              </div>

            {{!-- F8 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[82]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[82]}} name="seats" 
                      value={{generatedSeatNumber.[82]}} pattern={{seatNumber82}} {{checkReserved generatedSeatNumber.[82] seatNumber82 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[82]}}></label>
                  </div>
              </div>

            {{!-- F9 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[83]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[83]}} name="seats" 
                      value={{generatedSeatNumber.[83]}} pattern={{seatNumber83}} {{checkReserved generatedSeatNumber.[83] seatNumber83 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[83]}}></label>
                  </div>
              </div>

            {{!-- F10 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[84]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[84]}} name="seats" 
                      value={{generatedSeatNumber.[84]}} pattern={{seatNumber84}} {{checkReserved generatedSeatNumber.[84] seatNumber84 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[84]}}></label>
                  </div>
              </div>
            
            {{!-- F11 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[85]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[85]}} name="seats" 
                      value={{generatedSeatNumber.[85]}} pattern={{seatNumber85}} {{checkReserved generatedSeatNumber.[85] seatNumber85 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[85]}}></label>
                  </div>
              </div>

            {{!-- F12 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[86]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[86]}} name="seats" 
                      value={{generatedSeatNumber.[86]}} pattern={{seatNumber86}} {{checkReserved generatedSeatNumber.[86] seatNumber86 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[86]}}></label>
                  </div>
              </div>

            {{!-- F13 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[87]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[87]}} name="seats" 
                      value={{generatedSeatNumber.[87]}} pattern={{seatNumber87}} {{checkReserved generatedSeatNumber.[87] seatNumber87 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[87]}}></label>
                  </div>
              </div>     

            {{!-- F14 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[88]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[88]}} name="seats" 
                      value={{generatedSeatNumber.[88]}} pattern={{seatNumber88}} {{checkReserved generatedSeatNumber.[88] seatNumber88 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[88]}}></label>
                  </div>
              </div>

            {{!-- F15 --}}
           <div class="form-check m-0"><small>{{generatedSeatNumber.[89]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[89]}} name="seats" 
                      value={{generatedSeatNumber.[89]}} pattern={{seatNumber89}} {{checkReserved generatedSeatNumber.[89] seatNumber89 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[89]}}></label>
                  </div>
              </div>         
        </div>
          </div>
          
          <!-- END OF F -->

           <!-- G -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"> <b style="padding-left: 34px; padding-right:10px;">G</b> &nbsp; &nbsp;
             <!-- G1 -->
             <div class="form-check m-0"><small>{{generatedSeatNumber.[90]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[90]}} name="seats" 
                      value={{generatedSeatNumber.[90]}} pattern={{seatNumber90}} {{checkReserved generatedSeatNumber.[90] seatNumber90 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[90]}}></label>
                  </div>
              </div>      

            {{!-- G2 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[91]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[91]}} name="seats" 
                      value={{generatedSeatNumber.[91]}} pattern={{seatNumber91}} {{checkReserved generatedSeatNumber.[91] seatNumber91 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[91]}}></label>
                  </div>
              </div>  

            {{!-- G3 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[92]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[92]}} name="seats" 
                      value={{generatedSeatNumber.[92]}} pattern={{seatNumber92}} {{checkReserved generatedSeatNumber.[92] seatNumber92 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[92]}}></label>
                  </div>
              </div>  

            {{!-- G4 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[93]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[93]}} name="seats" 
                      value={{generatedSeatNumber.[93]}} pattern={{seatNumber93}} {{checkReserved generatedSeatNumber.[93] seatNumber93 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[93]}}></label>
                  </div>
              </div>  

            {{!-- G5 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[94]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[94]}} name="seats" 
                      value={{generatedSeatNumber.[94]}} pattern={{seatNumber94}} {{checkReserved generatedSeatNumber.[94] seatNumber94 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[94]}}></label>
                  </div>
              </div>  

            {{!-- G6 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[95]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[95]}} name="seats" 
                      value={{generatedSeatNumber.[95]}} pattern={{seatNumber95}} {{checkReserved generatedSeatNumber.[95] seatNumber95 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[95]}}></label>
                  </div>
              </div>  

            {{!-- G7 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[96]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[96]}} name="seats" 
                      value={{generatedSeatNumber.[96]}} pattern={{seatNumber96}} {{checkReserved generatedSeatNumber.[96] seatNumber96 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[96]}}></label>
                  </div>
              </div>  

            {{!-- G8 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[97]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[97]}} name="seats" 
                      value={{generatedSeatNumber.[97]}} pattern={{seatNumber97}} {{checkReserved generatedSeatNumber.[97] seatNumber97 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[97]}}></label>
                  </div>
              </div>   

            {{!-- G9 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[98]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[98]}} name="seats" 
                      value={{generatedSeatNumber.[98]}} pattern={{seatNumber98}} {{checkReserved generatedSeatNumber.[98] seatNumber98 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[98]}}></label>
                  </div>
              </div>  

            {{!-- G10 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[99]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[99]}} name="seats" 
                      value={{generatedSeatNumber.[99]}} pattern={{seatNumber99}} {{checkReserved generatedSeatNumber.[99] seatNumber99 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[99]}}></label>
                  </div>
              </div>  
            
            {{!-- G11 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[100]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[100]}} name="seats" 
                      value={{generatedSeatNumber.[100]}} pattern={{seatNumber100}} {{checkReserved generatedSeatNumber.[100] seatNumber100 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[100]}}></label>
                  </div>
              </div>  

            {{!-- G12 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[101]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[101]}} name="seats" 
                      value={{generatedSeatNumber.[101]}} pattern={{seatNumber101}} {{checkReserved generatedSeatNumber.[101] seatNumber101 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[101]}}></label>
                  </div>
              </div>  


            {{!-- G13 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[102]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[102]}} name="seats" 
                      value={{generatedSeatNumber.[102]}} pattern={{seatNumber102}} {{checkReserved generatedSeatNumber.[102] seatNumber102 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[102]}}></label>
                  </div>
              </div>  


            {{!-- G14 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[103]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[103]}} name="seats" 
                      value={{generatedSeatNumber.[103]}} pattern={{seatNumber103}} {{checkReserved generatedSeatNumber.[103] seatNumber103 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[103]}}></label>
                  </div>
              </div>  
   

            {{!-- G15 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[104]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[104]}} name="seats" 
                      value={{generatedSeatNumber.[104]}} pattern={{seatNumber104}} {{checkReserved generatedSeatNumber.[104] seatNumber104 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[104]}}></label>
                  </div>
              </div>  
  
        </div>
          </div>
          
          <!-- END OF G -->

           <!-- H -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"> <b style="padding-left: 42px; padding-right:10px;">H</b> &nbsp; &nbsp;
             <!-- H1 -->
            <div class="form-check m-0"><small>{{generatedSeatNumber.[105]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[105]}} name="seats" 
                      value={{generatedSeatNumber.[105]}} pattern={{seatNumber105}} {{checkReserved generatedSeatNumber.[105] seatNumber105 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[105]}}></label>
                  </div>
              </div>  


            {{!-- H2 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[106]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[106]}} name="seats" 
                      value={{generatedSeatNumber.[106]}} pattern={{seatNumber106}} {{checkReserved generatedSeatNumber.[106] seatNumber106 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[106]}}></label>
                  </div>
              </div>  


            {{!-- H3 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[107]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[107]}} name="seats" 
                      value={{generatedSeatNumber.[107]}} pattern={{seatNumber107}} {{checkReserved generatedSeatNumber.[107] seatNumber107 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[107]}}></label>
                  </div>
              </div>  


            {{!-- H4 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[108]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[108]}} name="seats" 
                      value={{generatedSeatNumber.[108]}} pattern={{seatNumber108}} {{checkReserved generatedSeatNumber.[108] seatNumber108 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[108]}}></label>
                  </div>
              </div>  


            {{!-- H5 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[109]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[109]}} name="seats" 
                      value={{generatedSeatNumber.[109]}} pattern={{seatNumber109}} {{checkReserved generatedSeatNumber.[109] seatNumber109 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[109]}}></label>
                  </div>
              </div>  


            {{!-- H6 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[110]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[110]}} name="seats" 
                      value={{generatedSeatNumber.[110]}} pattern={{seatNumber110}} {{checkReserved generatedSeatNumber.[110] seatNumber110 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[110]}}></label>
                  </div>
              </div>  


            {{!-- H7 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[111]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[111]}} name="seats" 
                      value={{generatedSeatNumber.[111]}} pattern={{seatNumber111}} {{checkReserved generatedSeatNumber.[111] seatNumber111 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[111]}}></label>
                  </div>
              </div>  

            {{!-- H8 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[112]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[112]}} name="seats" 
                      value={{generatedSeatNumber.[112]}} pattern={{seatNumber112}} {{checkReserved generatedSeatNumber.[112] seatNumber112 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[112]}}></label>
                  </div>
              </div>     

            {{!-- H9 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[113]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[113]}} name="seats" 
                      value={{generatedSeatNumber.[113]}} pattern={{seatNumber113}} {{checkReserved generatedSeatNumber.[113] seatNumber113 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[113]}}></label>
                  </div>
              </div>   

            {{!-- H10 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[114]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[114]}} name="seats" 
                      value={{generatedSeatNumber.[114]}} pattern={{seatNumber114}} {{checkReserved generatedSeatNumber.[114] seatNumber114 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[114]}}></label>
                  </div>
              </div>  
            
            {{!-- H11 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[115]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[115]}} name="seats" 
                      value={{generatedSeatNumber.[115]}} pattern={{seatNumber115}} {{checkReserved generatedSeatNumber.[115] seatNumber115 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[115]}}></label>
                  </div>
              </div>  

            {{!-- H12 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[116]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[116]}} name="seats" 
                      value={{generatedSeatNumber.[116]}} pattern={{seatNumber116}} {{checkReserved generatedSeatNumber.[116] seatNumber116 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[116]}}></label>
                  </div>
              </div>  

            {{!-- H13 --}}
           <div class="form-check m-0"><small>{{generatedSeatNumber.[117]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[117]}} name="seats" 
                      value={{generatedSeatNumber.[117]}} pattern={{seatNumber117}} {{checkReserved generatedSeatNumber.[117] seatNumber117 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[117]}}></label>
                  </div>
              </div>     

            {{!-- H14 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[118]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[118]}} name="seats" 
                      value={{generatedSeatNumber.[118]}} pattern={{seatNumber118}} {{checkReserved generatedSeatNumber.[118] seatNumber118 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[118]}}></label>
                  </div>
              </div>      

            {{!-- H15 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[119]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[119]}} name="seats" 
                      value={{generatedSeatNumber.[119]}} pattern={{seatNumber119}} {{checkReserved generatedSeatNumber.[119] seatNumber119 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[119]}}></label>
                  </div>
              </div>           
        </div>
          </div> <br>
          
          <!-- END OF H -->

           <!-- I -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"> <b style="padding-left: 0px; padding-right:10px;">I</b> &nbsp; &nbsp;
             <!-- I1 -->
            <div class="form-check m-0"><small>{{generatedSeatNumber.[120]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[120]}} name="seats" 
                      value={{generatedSeatNumber.[120]}} pattern={{seatNumber120}} {{checkReserved generatedSeatNumber.[120] seatNumber120 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[120]}}></label>
                  </div>
              </div>  

            {{!-- I2 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[121]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[121]}} name="seats" 
                      value={{generatedSeatNumber.[121]}} pattern={{seatNumber121}} {{checkReserved generatedSeatNumber.[121] seatNumber121 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[121]}}></label>
                  </div>
              </div>  

            {{!-- I3 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[122]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[122]}} name="seats" 
                      value={{generatedSeatNumber.[122]}} pattern={{seatNumber122}} {{checkReserved generatedSeatNumber.[122] seatNumber122 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[122]}}></label>
                  </div>
              </div>  

            {{!-- I4 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[123]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[123]}} name="seats" 
                      value={{generatedSeatNumber.[123]}} pattern={{seatNumber123}} {{checkReserved generatedSeatNumber.[123] seatNumber123 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[123]}}></label>
                  </div>
              </div>  

            {{!-- I5 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[124]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[124]}} name="seats" 
                      value={{generatedSeatNumber.[124]}} pattern={{seatNumber124}} {{checkReserved generatedSeatNumber.[124] seatNumber124 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[124]}}></label>
                  </div>
              </div>  

            {{!-- I6 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[125]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[125]}} name="seats" 
                      value={{generatedSeatNumber.[125]}} pattern={{seatNumber125}} {{checkReserved generatedSeatNumber.[125] seatNumber125 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[125]}}></label>
                  </div>
              </div>  

            {{!-- I7 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[126]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[126]}} name="seats" 
                      value={{generatedSeatNumber.[126]}} pattern={{seatNumber126}} {{checkReserved generatedSeatNumber.[126] seatNumber126 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[126]}}></label>
                  </div>
              </div>       

            {{!-- I8 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[127]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[127]}} name="seats" 
                      value={{generatedSeatNumber.[127]}} pattern={{seatNumber127}} {{checkReserved generatedSeatNumber.[127] seatNumber127 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[127]}}></label>
                  </div>
              </div>        

            {{!-- I9 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[128]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[128]}} name="seats" 
                      value={{generatedSeatNumber.[128]}} pattern={{seatNumber128}} {{checkReserved generatedSeatNumber.[128] seatNumber128 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[128]}}></label>
                  </div>
              </div>    

            {{!-- I10 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[129]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[129]}} name="seats" 
                      value={{generatedSeatNumber.[129]}} pattern={{seatNumber129}} {{checkReserved generatedSeatNumber.[129] seatNumber129 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[129]}}></label>
                  </div>
              </div>  
            
            {{!-- I11 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[130]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[130]}} name="seats" 
                      value={{generatedSeatNumber.[130]}} pattern={{seatNumber130}} {{checkReserved generatedSeatNumber.[130] seatNumber130 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[130]}}></label>
                  </div>
              </div>     

            {{!-- I12 --}}
              <div class="form-check m-0"><small>{{generatedSeatNumber.[131]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[131]}} name="seats" 
                      value={{generatedSeatNumber.[131]}} pattern={{seatNumber131}} {{checkReserved generatedSeatNumber.[131] seatNumber131 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[131]}}></label>
                  </div>
              </div> 

            {{!-- I13 --}}
              <div class="form-check m-0"><small>{{generatedSeatNumber.[132]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[132]}} name="seats" 
                      value={{generatedSeatNumber.[132]}} pattern={{seatNumber132}} {{checkReserved generatedSeatNumber.[132] seatNumber132 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[132]}}></label>
                  </div>
              </div> 

            {{!-- I14 --}}
              <div class="form-check m-0"><small>{{generatedSeatNumber.[133]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[133]}} name="seats" 
                      value={{generatedSeatNumber.[133]}} pattern={{seatNumber133}} {{checkReserved generatedSeatNumber.[133] seatNumber133 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[133]}}></label>
                  </div>
              </div>  

            {{!-- I15 --}}
              <div class="form-check m-0"><small>{{generatedSeatNumber.[134]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[134]}} name="seats" 
                      value={{generatedSeatNumber.[134]}} pattern={{seatNumber134}} {{checkReserved generatedSeatNumber.[134] seatNumber134 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[134]}}></label>
                  </div>
              </div>         
        </div>
          </div>
          
          <!-- END OF I -->

           <!-- J -->
          <div class="form-group flexboxCustom">
             
            <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold;"> <b style="padding-left: 15px; padding-right:10px;">J</b> &nbsp; &nbsp;
             <!-- J1 -->
             <div class="form-check m-0"><small>{{generatedSeatNumber.[135]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[135]}} name="seats" 
                      value={{generatedSeatNumber.[135]}} pattern={{seatNumber135}} {{checkReserved generatedSeatNumber.[135] seatNumber135 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[135]}}></label>
                  </div>
              </div> 

            {{!-- J2 --}}
              <div class="form-check m-0"><small>{{generatedSeatNumber.[136]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[136]}} name="seats" 
                      value={{generatedSeatNumber.[136]}} pattern={{seatNumber136}} {{checkReserved generatedSeatNumber.[136] seatNumber136 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[136]}}></label>
                  </div>
              </div> 

            {{!-- J3 --}}
              <div class="form-check m-0"><small>{{generatedSeatNumber.[137]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[137]}} name="seats" 
                      value={{generatedSeatNumber.[137]}} pattern={{seatNumber137}} {{checkReserved generatedSeatNumber.[137] seatNumber137 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[137]}}></label>
                  </div>
              </div> 

            {{!-- J4 --}}
              <div class="form-check m-0"><small>{{generatedSeatNumber.[138]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[138]}} name="seats" 
                      value={{generatedSeatNumber.[138]}} pattern={{seatNumber138}} {{checkReserved generatedSeatNumber.[138] seatNumber138 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[138]}}></label>
                  </div>
              </div> 

            {{!-- J5 --}}
              <div class="form-check m-0"><small>{{generatedSeatNumber.[139]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[139]}} name="seats" 
                      value={{generatedSeatNumber.[139]}} pattern={{seatNumber139}} {{checkReserved generatedSeatNumber.[139] seatNumber139 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[139]}}></label>
                  </div>
              </div> 

            {{!-- J6 --}}
             <div class="form-check m-0"><small>{{generatedSeatNumber.[140]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[140]}} name="seats" 
                      value={{generatedSeatNumber.[140]}} pattern={{seatNumber140}} {{checkReserved generatedSeatNumber.[140] seatNumber140 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[140]}}></label>
                  </div>
              </div> 

            {{!-- J7 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[141]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[141]}} name="seats" 
                      value={{generatedSeatNumber.[141]}} pattern={{seatNumber141}} {{checkReserved generatedSeatNumber.[141] seatNumber141 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[141]}}></label>
                  </div>
              </div>  

            {{!-- J8 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[142]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[142]}} name="seats" 
                      value={{generatedSeatNumber.[142]}} pattern={{seatNumber142}} {{checkReserved generatedSeatNumber.[142] seatNumber142 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[142]}}></label>
                  </div>
              </div>    

            {{!-- J9 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[143]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[143]}} name="seats" 
                      value={{generatedSeatNumber.[143]}} pattern={{seatNumber143}} {{checkReserved generatedSeatNumber.[143] seatNumber143 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[143]}}></label>
                  </div>
              </div>   

            {{!-- J10 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[144]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[144]}} name="seats" 
                      value={{generatedSeatNumber.[144]}} pattern={{seatNumber144}} {{checkReserved generatedSeatNumber.[144] seatNumber144 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[144]}}></label>
                  </div>
              </div> 
            
            {{!-- J11 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[145]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[145]}} name="seats" 
                      value={{generatedSeatNumber.[145]}} pattern={{seatNumber145}} {{checkReserved generatedSeatNumber.[145] seatNumber145 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[145]}}></label>
                  </div>
              </div>   

            {{!-- J12 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[146]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[146]}} name="seats" 
                      value={{generatedSeatNumber.[146]}} pattern={{seatNumber146}} {{checkReserved generatedSeatNumber.[146] seatNumber146 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[146]}}></label>
                  </div>
              </div> 

            {{!-- J13 --}}
           <div class="form-check m-0"><small>{{generatedSeatNumber.[147]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[147]}} name="seats" 
                      value={{generatedSeatNumber.[147]}} pattern={{seatNumber147}} {{checkReserved generatedSeatNumber.[147] seatNumber147 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[147]}}></label>
                  </div>
              </div>     

            {{!-- J14 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[148]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[148]}} name="seats" 
                      value={{generatedSeatNumber.[148]}} pattern={{seatNumber148}} {{checkReserved generatedSeatNumber.[148] seatNumber148 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[148]}}></label>
                  </div>
              </div>   

               {{!-- J15 --}}
            <div class="form-check m-0"><small>{{generatedSeatNumber.[149]}}</small> &nbsp;
                    
                    <div class="custom-control custom-checkbox m-0">
                    <input type="checkbox" class="custom-control-input" id={{generatedSeatNumber.[149]}} name="seats" 
                      value={{generatedSeatNumber.[149]}} pattern={{seatNumber149}} {{checkReserved generatedSeatNumber.[149] seatNumber149 }}>
                    <label class="custom-control-label" for={{generatedSeatNumber.[149]}}></label>
                  </div>
              </div> 

        
                 
        </div>
          </div>
          
          <!-- END OF J -->

           <div class="form-check-inline m-0" style="color: #A239CA; font-weight:bold; padding-top: 50px;">

            <div class="custom-control custom-checkbox mb-3"> 
              <input type="checkbox" class="custom-control-input res" id="res" name="example1" disabled>
              <label class="custom-control-label" for="res" style="color: black;"> Reserved</label>
            </div>

            <div class="custom-control custom-checkbox mb-3" style="padding-left: 50px;">
              <input type="checkbox" class="custom-control-input avail" id="avail" name="example2" style="background-color: white" disabled>
              <label class="custom-control-label" for="avail" style="color:black;">Available</label>
            </div>

            </div> 
 
  <br>  <button type="submit" id="reserve" class="btn btn-custom reserve" style="margin-top: 50px; margin-bottom:40px;">Reserve</button>


    </form>
    </div>
</center>