{{!< layout}}

<!-- BODY -->  
<div class="container">
    <div class="jumbotron jumbo">
        <center><h1>{{title}}</h1></center>
        <center>
            <small><p>{{titledesc}}</p></small>
        </center>
    </div>   
  </div>
  
<!-- MOVIE CARDS -->
<div class="container-fluid" style="padding-top: 50px; padding-bottom: 100px;">
<div class="row">

<!-- CARD 1 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src={{img_url}} alt={{name}} class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text"><small><b>Rating:</b> {{rating}}</small></p>
                <hr>
                <p class="card-text"><b>Cinema {{cinema}} </b></p>
                <small><p class="card-text">{{price}}</p></small>
                <hr> 
                <small><p class="card-text"><b>SCHEDULE: </b>{{date.[0]}}</p></small>
                <small><pre class="card-text my-1">{{timeslots.[0]}}    |   {{timeslots.[1]}}     |   {{timeslots.[2]}}</pre></small>
                <small><pre class="card-text">{{timeslots.[3]}}</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form>
                      <button type="button" class="btn btn-custom cardButtons2 mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 1 -->


<!-- CARD 2 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src={{img_url2}} alt={{name2}} class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">{{name2}}</h5>
                <p class="card-text"><small><b>Rating:</b> {{rating2}}</small></p>
                <hr>
                <p class="card-text"><b>Cinema {{cinema2}} </b></p>
                <small><p class="card-text">{{price2}}</p></small>
                <hr>
                <small><p class="card-text"><b>SCHEDULE: </b>{{date2.[0]}}</p></small>
                <small><pre class="card-text my-1">{{timeslots2.[0]}}    |   {{timeslots2.[1]}}     |   {{timeslots2.[2]}}</pre></small>
                <small><pre class="card-text">{{timeslots2.[3]}}</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form>
                       <button type="button" class="btn btn-custom cardButtons2 mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 2 -->

<!-- CARD 3 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src={{img_url3}} alt={{name3}} class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">{{name3}}</h5>
                <p class="card-text"><small><b>Rating:</b> {{rating3}}</small></p>
                <hr>
                <p class="card-text"><b>Cinema {{cinema3}} </b></p>
                <small><p class="card-text">{{price3}}</p></small>
                <hr>
                <small><p class="card-text"><b>SCHEDULE: </b>{{date3.[0]}}</p></small>
                <small><pre class="card-text my-1">{{timeslots3.[0]}}    |   {{timeslots3.[1]}}     |   {{timeslots3.[2]}}</pre></small>
                <small><pre class="card-text">{{timeslots3.[3]}}</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form>
                       <button type="button" class="btn btn-custom cardButtons2 mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 3 -->

<!-- CARD 4 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src={{img_url4}} alt={{name4}} class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">{{name4}}</h5>
                <p class="card-text"><small><b>Rating:</b> {{rating4}}</small></p>
                <hr>
                <p class="card-text"><b>Cinema {{cinema4}} </b></p>
                <small><p class="card-text">{{price4}}</p></small>
                <hr>
                <small><p class="card-text"><b>SCHEDULE: </b>{{date4.[0]}}</p></small>
                <small><pre class="card-text my-1">{{timeslots4.[0]}}    |   {{timeslots4.[1]}}     |   {{timeslots4.[2]}}</pre></small>
                <small><pre class="card-text">{{timeslots4.[3]}}</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form>
                      <button type="button" class="btn btn-custom cardButtons2 mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 4 -->

</div>
<!-- END OF ROW-->

<br>
<span id="dots"></span> 

<!-- VIEW MORE -->

<div id="more" class="container">
<div class="row">

<!-- CARD 1 ROW 2 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src={{img_url5}} alt={{name5}} class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">{{name5}}</h5>
                <p class="card-text"><small><b>Rating:</b> {{rating5}}</small></p>
                <hr>
                <p class="card-text"><b>Cinema {{cinema5}} </b></p>
                <small><p class="card-text">{{price5}}</p></small>
                <hr>
                <small><p class="card-text"><b>SCHEDULE: </b>{{date5.[0]}}</p></small>
                <small><pre class="card-text my-1">{{timeslots5.[0]}}    |   {{timeslots5.[1]}}     |   {{timeslots5.[2]}}</pre></small>
                <small><pre class="card-text">{{timeslots5.[3]}}</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form>
                      <button type="button" class="btn btn-custom cardButtons2 mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 1 ROW 2 -->

  
<!-- CARD 2 ROW 2 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src={{img_url6}} alt={{name6}} class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">{{name6}}</h5>
                <p class="card-text"><small><b>Rating:</b> {{rating6}}</small></p>
                <hr>
                <p class="card-text"><b>Cinema {{cinema6}} </b></p>
                <small><p class="card-text">{{price6}}</p></small>
                <hr>
                <small><p class="card-text"><b>SCHEDULE: </b>{{date6.[0]}}</p></small>
                <small><pre class="card-text my-1">{{timeslots6.[0]}}    |   {{timeslots6.[1]}}     |   {{timeslots6.[2]}}</pre></small>
                <small><pre class="card-text">{{timeslots6.[3]}}</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form>
                      <button type="button" class="btn btn-custom cardButtons2 mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 2 ROW 2 -->


  <!-- CARD 3 ROW 2 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src={{img_url7}} alt={{name7}} class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">{{name7}}</h5>
                <p class="card-text"><small><b>Rating:</b> {{rating7}}</small></p>
                <hr>
                <p class="card-text"><b>Cinema {{cinema7}} </b></p>
                <small><p class="card-text">{{price7}}</p></small>
                <hr>
                <small><p class="card-text"><b>SCHEDULE: </b>{{date7.[0]}}</p></small>
                <small><pre class="card-text my-1">{{timeslots7.[0]}}    |   {{timeslots7.[1]}}     |   {{timeslots7.[2]}}</pre></small>
                <small><pre class="card-text">{{timeslots7.[3]}}</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form>
                      <button type="button" class="btn btn-custom cardButtons2 mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 3 ROW 2 -->

  
  <!-- CARD 4 ROW 2 -->
<div class = "cardcontainer1 col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-custom text-white">
            <img class="card-img-top" src={{img_url8}} alt={{name8}} class="card-img">
            <div class="card-body m-auto">
                <h5 class="card-title">{{name8}}</h5>
                <p class="card-text"><small><b>Rating:</b> {{rating8}}</small></p>
                <hr>
                <p class="card-text"><b>Cinema {{cinema8}} </b></p>
                <small><p class="card-text">{{price8}}</p></small>
                <hr>
                <small><p class="card-text"><b>SCHEDULE: </b>{{date8.[0]}}</p></small>
                <small><pre class="card-text my-1">{{timeslots8.[0]}}    |   {{timeslots8.[1]}}     |   {{timeslots8.[2]}}</pre></small>
                <small><pre class="card-text">{{timeslots8.[3]}}</pre></small>

                 <!-- BUTTON 2 -->
                 <center class="my-3">
                    <form>
                      <button type="button" class="btn btn-custom cardButtons2 mx-auto" data-toggle="modal" data-target="#logModal">Reserve</button>
                   </form>
                  </center>
                  <!-- END OF BUTTON 2 -->
              </div>
      </div>    
  </div>
  <!-- CARD 4 ROW 2 -->

</div>
<!-- END OF ROW 2-->
</div>
<!-- END OF CONTAINER -->

<div class="nav nav-pills mb-3 justify-content-center">
  <button onclick="myFunction()" id="myBtn" class="btn btn-custom btn-md">View All</button>
</div>

</div>
<!-- END OF NOW SHOWING -->

  
</div>
<!-- END OF CONTAINER -->