{{!< layout}}

<center>

<div class="container tickets">
    <div class="container-fluid">
        <br>
        <h1 style="background-color: #4717F6; color: #E7DFDD; 
            width:fit-content;">&nbsp; Reservation Confirmed &nbsp;</h1> <br>

        <img class="img-fluid" style="padding-bottom:50px; padding-top:30px;"
            src="/img/images/barcode.jpg">
        <div style="text-align:left; padding-left:290px;">
        <p><b>Reservation ID:</b> <span style="padding-left: 40px;">
                       {{reservationid}} </span></p> 
        <p><b>Movie:</b> <span style="padding-left: 110px;">
                        {{movie}} </span></p>
        <p><b>Cinema:</b> <span style="padding-left: 95px;">
                        {{cinema}} </span></p>
        <p><b>Price:</b> <span style="padding-left: 118px;">
                        Php {{price}}.00 </span></p>
        <p><b>Date:</b> <span style="padding-left: 120px;">
                        {{date.[0]}} </span></p>
        <p><b>Time:</b> <span style="padding-left: 120px;">
                        {{time.[0]}} </span></p>
        <p><b>Ticket/s:</b> <span style="padding-left: 105px;">
                        {{tickets}} </span></p>
        </div>

        <br><br>
        {{!-- <form action="https://mail.google.com/mail/u/0/#inbox" target="_blank"> --}}
        <button type="submit" onclick="window.print()" style="margin-right: 40px;"
            class="btn btn-custom modalButton">Print this page</button> 
        <br><br>
        {{!-- </form> --}}
    </jumbotron>
</div>
</center>